{% extends '::cvd_base.html.twig' %}
{% block title %}路易威登浪漫七夕{% endblock %}
{% block head_style %}
{% stylesheets filter='cssrewrite' output="css/main.css"
	'%kernel.root_dir%/Resources/public/css/reset.css'
	'@LVCvdBundle/Resources/public/css/swiper.min.css'
	'@LVCvdBundle/Resources/public/css/style.css'
%}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block head_scripts %}
{% javascripts output="js/main.js"
    '%kernel.root_dir%/Resources/public/js/jquery.js'
    '%kernel.root_dir%/Resources/public/js/jweixin.js'
    '%kernel.root_dir%/Resources/public/js/wechat_cvd.js'
    '%kernel.root_dir%/Resources/public/js/PxLoader.js'
    '%kernel.root_dir%/Resources/public/js/tweenMax.min.js'
    '@LVCvdBundle/Resources/public/js/swiper.min.js'
%}

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?38a2f94d03df36dfccbca6b719d4e325";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<!-- 横屏代码 -->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>





{% endblock %}