<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Test Application{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="format-detection" content="telephone=no">
        <!--禁用手机号码链接(for iPhone)-->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui" />
        <!--自适应设备宽度-->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--控制全屏时顶部状态栏的外，默认白色-->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="Keywords" content="">
        <meta name="Description" content="...">
        {% block head_style %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <div id="navLevel" class="page-prev">
            <ul class="menu">
                <li>
                    <a href="javascript:;" title="CHAPTER1 起航"><img src="/images/n-1.png" width="100%"></a>
                </li>
                <li>
                    <a href="javascript:;" title="CHAPTER2 梦想之旅"><img src="/images/n-2.png" width="100%"></a>
                </li>
                <li>
                    <a href="javascript:;" title="CHAPTER3 立梦建筑"><img src="/images/n-3.png" width="100%"></a>
                </li>
                <li>
                    <a href="javascript:;" title="CHAPTER4 创梦当代"><img src="/images/n-4.png" width="100%"></a>
                </li>
                <li>
                    <a href="javascript:;" title="讲述自己的梦想之旅"><img src="/images/n-5.png" width="100%"></a>
                </li>
                <li>
                    <a href="javascript:;" title="邀请函"><img src="/images/n-6.png" width="100%"></a>
                </li>
            </ul>

            <div class="navLevel_footer">
                <a class="close" href="javascript:;">
                    <img src="/images/close.png" width="100%">
                    关 闭
                </a>
            </div>
        </div>
        <div class="head">
            <img src="/images/nav_bg.png" class="nav-bg" />
            <a href="javascript:;" class="nav_icon">
                <img src="/images/nav_icon.png" />
            </a>
            <img src="/images/menu-bg.png" width="100%" />
        </div>

        <div id="dreambox">
            {% block dreambox %}
            {% endblock %}
            <div class="dream_footer">
                <a href="javascript:_doing.getCreateData();" class="btn creatBtn">告诉大家你的梦想之旅</a>
                <a href="javascript:;" class="btn finshBtn">完成</a>
                <a href="javascript:;">
                    <img src="/images/ugc/story.jpg" width="100%" />
                </a>
            </div>
        </div>
        <div id="orientLayer" class="mod-orient-layer">
            <div class="mod-orient-layer__content">
                <i class="icon mod-orient-layer__icon-orient"></i>
                <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
            </div>
        </div>
    </body>
</html>
