{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block dreambox %}
<div class="chapter modelpage">

					<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

        	<div class="swiper-slide">
        		<div class="gif_bg">
	            	<img src="" sourcesrc="/images/animate/LV_Animation_Chapter4.gif" width="100%" />

	            	<div class="pageArr">
						<img src="" sourcesrc="/images/arr-up.png" />
					</div>
				</div>
            </div>


            <div class="swiper-slide swiper-no-swiping">
            	<div class="chapter_content">

            		<div class="mapInfo">
	            		<h2>从巴黎到北京</h2>
	            		<p>“弗兰克·盖里巴黎路易威登基金会建筑展览” 原于2014年10月路易威登基金会开幕期间在巴黎盛大展出。现在来到中国，向公众开放。很多中国民众已游览参观过法国首都几处重要纪念建筑，现于近在咫尺的北京就能深入探索由建筑大师弗兰克·盖里所设计的这个法国里程碑式的建筑新坐标。
						</p>

						<p>
	            			<a href="javascript:mySwiper.slideTo(2, 600, true);" class="coordinate_link"></a>
	            			<img src="" sourcesrc="/images/chapter4/map.png" width="100%" />
	            		</p>
	            	</div>


		    		<div class="chapter4">

		    			<div class="chapter2-content chapterimg-4">
			    			<img src="" sourcesrc="/images/chapter4/c1.png" width="100%" />
			    			<img src="" sourcesrc="/images/chapter4/c2.png" width="100%" />
			    			<img src="" sourcesrc="/images/chapter4/c3.png" width="100%" />
			    			<a href="javascript:;" class="viewmore"></a>
		    			</div>
		    			<img src="" sourcesrc="/images/chapter4/c4.png" width="100%" />
		    			<div class="btnArea">
			    			<a href="/fondation/invitation" class="creat_btn">
									<img src="" sourcesrc="/images/creat_btn.png" width="100%" />
							</a>
						</div>
		    		</div>
					
					<div class="content_footer">
						<p>
						<img src="" sourcesrc="/images/chapter1/footer_tips.png" />
						</p>
						<div class="btnArea">

							<a href="/fondation/ugc" class="talk_btn">
								<img src="" sourcesrc="/images/talk_btn.png" width="100%" />
							</a>
							
						</div>
					</div>
					
					<a href="/fondation">
						<img src="" sourcesrc="/images/chapter4/kv.jpg" width="100%" class="c5" />
					</a>
				</div>
            </div>

	    </div>
	</div>

	
</div>
<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container', {
			lazyLoading : true,
		    direction: 'vertical'
		});

		




;(function($){
	$(function(){

		shareData = {
		    title: '第四章：路易威登基金会▪创梦当代',
		    desc: '巴黎到北京，探访路易威登基金会建筑展览，领略建筑艺术的无限可能'
		};

		var imgSrcArr = [];
		loadingFun(imgSrcArr);
	})
})(jQuery);

</script>

{% endblock %}