{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block dreambox %}
<div class="chapter modelpage">

					<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

        	<div class="swiper-slide">
        		<div class="gif_bg">
	            	<img src="" sourcesrc="/images/animate/LV_Animation_Chapter3.gif" width="100%" />

	            	<div class="pageArr">
						<img src="" sourcesrc="/images/arr-up.png" />
					</div>
				</div>
            </div>

            <div class="swiper-slide swiper-no-swiping">
            	<!-- <div class="chapter_content"> -->

		    		<div class="glassInstall">

		    			<div class="glassInstall_con">
		    				<!-- <h2>一起完成路易威登基金会吧</h2> -->
		    				<div class="glassBlock_tips">
			    				点击玻璃面板<br />完成建筑的最后一步
			    			</div>
		    				
			    			<div class="glassBlock">
			    				<img src="" sourcesrc="/images/chapter3/glass.png" width="100%" />
			    			</div>
			    			<div class="glassInfo">
			    				<p>包含</p>
			    				<p>
			    					<span>13500</span>平方米的玻璃面积
			    				</p>
			    				<p><span>12</span>片玻璃帆区域</p>
			    				<p><span>19000</span>片杜克塔勒</p>
			    				<p><span>3584</span>块玻璃板</p>
			    				<p><span>3580</span>平方米的展览空间</p>
			    				<p><span>11</span>个展示厅</p>
			    			</div>
		    			</div>
		    			
		    			<div class="glass_footer">
			    		   		
				    			<a href="javascript:;" class="btn goonSearch">继续探索</a>
			    		</div>

		    			<div class="glassInstall_fin"></div>

		    		</div>

		    		<div class="glassInstall_info">
		    			<img src="" sourcesrc="/images/chapter3/c1.jpg" width="100%" />
						<div class="contentImg">
							<p class="c2">
								<img src="" sourcesrc="/images/chapter3/c2.png" width="100%" />
							</p>
							<p class="c3">
								<img src="" sourcesrc="/images/chapter3/c3.png" width="100%" />
							</p>						
						</div>
						
						<div class="content_footer">
							<p>
							<img src="" sourcesrc="/images/chapter1/footer_tips.png" />
							</p>
							<div class="btnArea">
								
								<a href="invitations.html" class="creat_btn">
									<img src="" sourcesrc="/images/creat_btn.png" width="100%" />
								</a>
								<a href="ugc" class="talk_btn">
									<img src="" sourcesrc="/images/talk_btn.png" width="100%" />
								</a>
								
							</div>
						</div>
						
						<a href="chapter4">
							<img src="" sourcesrc="/images/chapter3/kv.jpg" width="100%" class="c5" />
						</a>
		    		</div>
					
				<!-- </div> -->
            </div>



        </div>
    </div>


	
</div>
<script type="text/javascript">

$(".glassBlock").click(function(){
	$(this).animate({"opacity":0.1,"margin-top":"9em"},600,function(){
		$(this).hide();

		$(".glass_footer").animate({"bottom":0,"opacity":0});
		$(".glassInstall_fin").animate({"opacity":1},1000,function(){
			$(".glassInstall_con h2").html("路易威登基金会");
			$(".glassInfo").fadeIn();
			$(".glassBlock_tips").html("安装完成");
			$(".goonSearch").css("display","inline-block");
			$(".glass_footer").animate({"bottom":"1em","opacity":1});
		});
	});
	
})

$(".goonSearch").click(function(){
	$(".glassInstall").fadeOut();
	$(".glassInstall_info").show().animate({"opacity":1},3000);
})


var mySwiper = new Swiper('.swiper-container', {
	lazyLoading : true,
    direction: 'vertical'
});


;(function($){
	$(function(){

		shareData = {
		    title: '第三章：路易威登基金会▪立梦建筑',
		    desc: '大师弗兰克·盖里的创世之作，法国里程碑式建筑新坐标'
		};
		
		var imgSrcArr = [];
		loadingFun(imgSrcArr);
	})
})(jQuery);

</script>
{% endblock %}