{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block dreambox %}
<div class="chapter modelpage">

				<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

        	<div class="swiper-slide">
        		<div class="gif_bg">
	            	<img src="" sourcesrc="/images/animate/LV_Animation_Chapter2.gif" width="100%" class="swiper-lazy" />

	            	<div class="pageArr">
						<img src="" sourcesrc="/images/arr-up.png" class="swiper-lazy" />
					</div>
					<div class="swiper-lazy-preloader"></div>
				</div>
            </div>

            <div class="swiper-slide swiper-no-swiping">
            	<div class="mapInfo">
            		<h2>布洛涅森林公园</h2>
            		<p>路易威登基金会位于布洛涅森林公园和Jardin d’Acclimatation游乐园之间的边界，这里是数代巴黎人一个多世纪以来在首都的频繁流连之地。该建筑矗立在特为此活动而设立的水景园中，与四周自然环境融为一体，在树木和花园掩映下，光色变幻，镜影摇曳。</p>
            	</div>

            	<div class="map_con">

					<div class="map_content">

						<div class="map_3">
							<div class="ps">
								<img src="" sourcesrc="/images/address/dot.png" width="100%" class="dot dot_ps swiper-lazy" />
								<img src="" sourcesrc="/images/address/paris_green.png" width="100%" id="start_ps" class="swiper-lazy" >
								<img src="" sourcesrc="/images/address/ps_icon.png" width="100%" class="title_ps swiper-lazy">
							</div>
							<div class="bj">
								<img src="" sourcesrc="/images/address/dot.png" width="100%" class="dot dot_bj swiper-lazy" />
								<img src="" sourcesrc="/images/address/bj_icon.png" width="100%" class="title_bj swiper-lazy">
							</div>
							<div class="ty">
								<img src="" sourcesrc="/images/address/dot.png" width="100%" class="dot dot_ty swiper-lazy" />
								<img src="" sourcesrc="/images/address/ty_icon.png" width="100%" class="title_ty swiper-lazy">
							</div>
							<div class="ny">
								<img src="" sourcesrc="/images/address/dot.png" width="100%" class="dot dot_ny swiper-lazy" />
								<img src="" sourcesrc="/images/address/ny_icon.png" width="100%" class="title_ny swiper-lazy" >
							</div>

						</div>

						<div class="map_4">

							<img src="" sourcesrc="/images/address/cloud_forest.png" height="100%" class="cloud_forest swiper-lazy" />
							<div class="cloud_sky">
									<img src="" sourcesrc="/images/address/cloud_sky.png" width="100%" class="cloud_left swiper-lazy"/>
									<img src="" sourcesrc="/images/address/cloud_sky.png" width="100%" class="cloud_right swiper-lazy"/>
								</div>
							
							<div class="park_all">
								<a href="javascript:mySwiper.slideTo(2, 600, true);"></a>
								<img src="" sourcesrc="/images/address/flv.png" width="100%" class="building swiper-lazy" />
								<img src="" sourcesrc="/images/address/dot.png" width="100%" class="dot dot_first swiper-lazy" />
								<img src="" sourcesrc="/images/address/park.png" width="100%" class="park swiper-lazy" />
								<img src="" sourcesrc="/images/address/parkname_en.png" width="100%" class="park_name swiper-lazy">
								
							</div>	



							<div class="activeTips_chapter2">点击坐标<br />探访布洛涅森林公园</div>
						</div>


					</div>


					
					
				</div>	

				<div class="swiper-lazy-preloader"></div>
            </div>

            <div class="swiper-slide swiper-no-swiping">
            	<a href="javascript:mySwiper.slideTo(3, 600, true);" class="panoramaLink"></a>
            	<div id="wrapper">
					<div id="scroller">
						<div class="focuslv-home">
							
							<div class="focuslv-cn">
								<img src="" sourcesrc="/images/chapter2/focus-cn.jpg" class="swiper-lazy" width="100%" />
								<div class="focuslv-en">
									<img src="" sourcesrc="/images/chapter2/focus-en.png" class="swiper-lazy" width="100%" />
								</div>
							</div>
							<div class="focus-dot"></div>
						</div>
						<img src="/images/chapter2/vso.jpg" height="100%" class="parkImg" />
					</div>
					<p class="scrollsTips st-1">点击进一步了解<br />路易威登基金会</p>
					<p class="scrollsTips st-2">滑动手指欣赏<br />布洛涅森林公园美景</p>
				</div>
				<div class="swiper-lazy-preloader"></div>
            </div>

            <div class="swiper-slide swiper-no-swiping">
            	<div class="chapter_content">

            			<div class="chapter2-content">
			    			<img src="" sourcesrc="/images/chapter2/c1.png" class="swiper-lazy" width="100%" />
						</div>

						<div class="content_footer">
							<p>
							<img src="" sourcesrc="/images/chapter1/footer_tips.png" class="swiper-lazy" />
							</p>
							<div class="btnArea">
								
								<a href="invitations.html" class="creat_btn">
									<img src="" sourcesrc="/images/creat_btn.png" class="swiper-lazy" width="100%" />
								</a>
								<a href="ugc/index.html" class="talk_btn">
									<img src="" sourcesrc="/images/talk_btn.png" class="swiper-lazy" width="100%" />
								</a>
								
							</div>
						</div>
						
						<a href="javascript:;">
							<img src="" sourcesrc="/images/chapter2/kv.jpg" class="swiper-lazy c5" width="100%" />
						</a>
				</div>
				<div class="swiper-lazy-preloader"></div>
            </div>

	    </div>
	</div>


	
</div>

<script type="text/javascript">

;(function($){
	$(function(){

		var mySwiper = new Swiper('.swiper-container', {
			lazyLoading : true,
		    direction: 'vertical',
		    onTouchEnd: function(swiper){
			    if(swiper.activeIndex == 0){
			    	mapAniActive.defaultSet();
			    }
			}
		    //preventClicks : false
		});


		var myScroll;


		$("#scroller").css("width",$(".parkImg").css("width"));
		loaded();

		function loaded () {
			
			myScroll = new IScroll('#wrapper', { 
				probeType: 3, 
				scrollX: true, 
				scrollY: false, 
				startX: -parseInt($("#scroller").css("width")) + $(window).width()
			});

			myScroll.on('scroll', myCustomFn);
		}

		function myCustomFn(){
			if(this.x > -156){
				$(".st-2").css({"bottom":"-10em"},300);
				$(".st-1").css({"bottom":"1.6em"},600);
				
				$(".focus-dot").addClass("focus-dot-animate");
				$(".panoramaLink").show();
			}else{
				$(".st-2").css({"bottom":"1.6em"});
				$(".st-1").css({"bottom":"-10em"});
				
				$(".focuslv-cn").stop().animate({"top":"40px","opacity":0},600,function(){
			    	$(".focuslv-en").stop().animate({"opacity":0});
			    	$(".focus-dot").removeClass("focus-dot-animate");
			    });
			    $(".panoramaLink").hide();
			}
		}


		$(".focus-dot").bind("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",function(){
			animationListener_focusdot();
			return false;
		});


		var animationListener_focusdot = function(){
			$(".focuslv-cn").stop().animate({"top":"22px","opacity":1},900,function(){
		    	$(".focuslv-en").stop().animate({"opacity":1});
		    });
		}


		// document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);


		/* address2 */

		function mapAniActive(){
		    this.mapAnimation = function(){
		    	var animationListener_home_3 = function(){

					$(".title_bj").fadeOut();
					$(".title_ty").fadeOut();
					$(".title_ny").fadeOut();
					$(".map_3").addClass("add3").animate({"opacity":"0"},1500);
			        
					$(".map_4").addClass("add4").animate({"opacity":"1"},2700);
			        $(".cloud_left").addClass("cloud_left_animation");
			        $(".cloud_right").addClass("cloud_right_animation");
					$(".cloud_forest").addClass("cloud_2_animation").animate({"opacity":"1"},1000);
					$(".dot_first").addClass("dot_animation").animate({"opacity":"1"},3500,function(){
						
						$(".building").show().animate({"opacity":"1"},1600);
						$(".park").show().animate({"opacity":"1"},1600,function(){
							$(".park_name").show().animate({"opacity":"1"});
						});
					});
					
				}
				var anim_home_3 = document.getElementById("start_ps");
				anim_home_3.addEventListener("webkitAnimationEnd", animationListener_home_3, false);
			},
			this.defaultSet = function(){

				mapAniActive.mapAnimation();
				$("#start_ps").addClass("start_ps_ani");
				$(".title_ps").addClass("title_ps_ani");
				$(".title_bj").addClass("title_bj_ani");
				$(".title_ty").addClass("title_ty_ani");
				$(".title_ny").addClass("title_ny_ani");

			}

		}


		mapAniActive = new mapAniActive();







		var imgSrcArr = [];
		loadingFun(imgSrcArr);
	})
})(jQuery);


</script>
{% endblock %}