{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block dreambox %}
<div class="chapter modelpage">
		<!-- <div class="arrUp">
			<img src="/images/arr-up.png" />
		</div> -->
		<section class="m-page page-active" id="slider">
	        <div class="page-con">
	      		<div class="ani_area">
					<img src="/images/animate/LV_Animation_Chapter3.gif" class="ani">
				</div>
	        </div>
	    </section>

	    <section class="m-page page-next" id="pagecontent">
		    <div class="page-con">
		    	<div class="chapter_content">

		    		<div class="glassInstall">

		    			<div class="glassInstall_con">
		    				<h2>一起完成路易威登基金会吧</h2>
			    			<div class="glassBlock">
			    				<img src="/images/chapter3/glass.png" width="100%" />
			    			</div>
			    			<div class="glassInfo">
			    				<p>包含</p>
			    				<p>
			    					<span>13500</span>平方米的玻璃面积
			    				</p>
			    				<p><span>12</span>片玻璃帆区域</p>
			    				<p><span>19000</span>片杜克塔勒</p>
			    				<p><span>3584</span>块玻璃板</p>
			    				<p><span>3580</span>平方米的展览空间</p>
			    				<p><span>11</span>个展示厅</p>
			    			</div>
		    			</div>
		    			
		    			<div class="glass_footer">
			    		   		<div class="glassBlock_tips">
				    				点住玻璃面板向下移动进行安装
				    			</div>
				    			<a href="javascript:;" class="btn goonSearch">继续探索</a>
			    		</div>

		    			<div class="glassInstall_fin"></div>

		    		</div>

		    		<div class="glassInstall_info">
		    			<img src="/images/chapter3/c1.jpg" width="100%" />
						<div class="contentImg">
							<p class="c2">
								<img src="/images/chapter3/c2.png" width="100%" />
							</p>
							<p class="c3">
								<img src="/images/chapter3/c3.png" width="100%" />
							</p>						
						</div>
						
						<div class="content_footer">
							<p>
							<img src="/images/chapter1/footer_tips.png" />
							</p>
							<div class="btnArea">
								
								<a href="invitations.html" class="creat_btn">
									<img src="/images/creat_btn.png" width="100%" />
								</a>
								<a href="ugc/index.html" class="talk_btn">
									<img src="/images/talk_btn.png" width="100%" />
								</a>
								
							</div>
						</div>
						
						<a href="javascript:;">
							<img src="/images/chapter3/kv.jpg" width="100%" class="c5" />
						</a>
		    		</div>
					
				</div>
		    </div>
	    </section>

	
</div>
<script type="text/javascript">

$(".glassBlock").click(function(){
	$(this).fadeOut("300");
	$(".glassInstall_fin").animate({"opacity":1},1000,function(){
		$(".glassInfo").fadeIn();
		$(".glassBlock_tips").html("安装完成");
		$(".goonSearch").css("display","inline-block");
	});
})

$(".goonSearch").click(function(){
	$(".glassInstall").fadeOut();
	$(".glassInstall_info").show().animate({"opacity":1},3000);
})

</script>
{% endblock %}