{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block title %}创梦当代{% endblock %}
{% block dreambox %}
<div class="chapter modelpage">

	<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

        	<div class="swiper-slide">
        		<div class="gif_bg">
	            	<img src="" sourcesrc="/images/animate/LV_Animation_Chapter4.gif" id="gitImg" width="100%" />

	            	<div class="pageArr">
						<img src="" sourcesrc="/images/arr-up.png" />
					</div>
				</div>
            </div>


            <div class="swiper-slide swiper-no-swiping">
            	<div class="chapter_content">

            		<div class="mapInfo">
	            		<h2>从巴黎到北京</h2>
	            		<p><img src="" sourcesrc="/images/chapter4/chapter4-text.png" width="100%" />
						</p>

						<p>
	            			<a href="javascript:;" class="coordinate_link_chpater4">
	            				<span class="point"></span>
	            				<em class="chapter_hand">
		            				<img src="/images/chapter_hand.png" sourcesrc="/images/chapter_hand.png" width="100%">
		            			</em>
	            			</a>
	            			<a href="javascript:mySwiper.slideTo(2, 600, true);" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第四章', '北京地图点击']);" class="chaptermap4"></a>
	            				<img src="" sourcesrc="/images/chapter4/map.png" width="100%" />
	            			
	            		</p>
	            	</div>

				</div>
            </div>



            <div class="swiper-slide swiper-no-swiping">
            	<div class="chapter_content">
            		<a href="javascript:mySwiper.slideTo(1, 600, true);" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第四章', '返回按钮']);" class="backBtn">
							<img src="/images/ugc/reback_arr.png" />
							返回
					</a>
            		<div class="chapter4">

		    			<div class="chapter2-content chapterimg-4">
			    			<img src="" sourcesrc="/images/chapter4/c1.png" width="100%" />
			    			<img src="" sourcesrc="/images/chapter4/c2.png" width="100%" />
			    			<img src="" sourcesrc="/images/chapter4/c3.png" width="100%" />
			    			<a href="javascript:;" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第四章', '浏览更多展品']);" class="viewmore"></a>
		    			</div>
		    			<img src="" sourcesrc="/images/chapter4/c4.png" width="100%" />
		    			<div class="btnArea">
			    			<a href="/fondation/invitation" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第四章', '立刻获取邀请函']);" class="creat_btn">
									<img src="" sourcesrc="/images/creat_btn.png" width="100%" />
							</a>
						</div>
		    		</div>
					
					<div class="content_footer">
						<p>
						<img src="" sourcesrc="/images/chapter1/footer_tips.png" />
						</p>
						<div class="btnArea">

							<a href="/fondation/ugc" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第四章', '开启你的筑梦之旅按钮']);" class="talk_btn">
								<img src="" sourcesrc="/images/talk_btn.png" width="100%" />
							</a>
							
						</div>
					</div>
					
					<a href="/fondation" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第四章', '返回首页按钮']);">
						<img src="" sourcesrc="/images/chapter4/kv.jpg" width="100%" class="c5" />
					</a>
				</div>
            </div>



	    </div>
	</div>

	
</div>
<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container', {
			lazyLoading : true,
		    direction: 'vertical',
		    onSlideChangeEnd: function(swiper){
		      	if(swiper.activeIndex != 0){
		      		$(".backBtn").show()
		      	}else{
		      		$(".backBtn").hide();
		      	}
		    }
		});




	$(function(){

		shareData = {
		    title: '路易威登基金会·创梦当代',
		    desc: '巴黎到北京，探访路易威登基金会建筑展览，领略建筑艺术的无限可能',
		    descTimeline: '巴黎到北京，探访路易威登基金会建筑展览，领略建筑艺术的无限可能',
		    url: window.location.host + '/fondation/#3',
			imgUrl: 'http://' + window.location.host + '/images/share.jpg',
			sharePage: '第四章',
			sharePageVal: '第四章，创梦当代'
		};
		editShare();

		var imgSrcArr = [];
		loadingFun(imgSrcArr);
	})


</script>

{% endblock %}