{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block title %}梦想之旅{% endblock %}
{% block dreambox %}
<div class="chapter modelpage">


<p class="scrollsTips st-1">点击进一步了解<br />路易威登基金会</p>
<p class="scrollsTips st-2">向右滑动手指欣赏<br />布洛涅森林公园美景</p>
				<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

        	<div class="swiper-slide">
        		<div class="gif_bg">
	            	<img src="" sourcesrc="/images/animate/LV_Animation_Chapter2.gif" id="gitImg" width="100%" />

	            	<div class="pageArr">
						<img src="" sourcesrc="/images/arr-up.png" />
					</div>
				</div>
            </div>

            <div class="swiper-slide swiper-no-swiping">
            	<div class="chapter_content">
	            	<div class="mapInfo">
	            		<h2>布洛涅森林公园</h2>
	            		<p><img src="" sourcesrc="/images/chapter2/chapter2-text.png" width="100%" /></p>
	            		<p>
	            			
	            			<span class="coordinate_link">
	            				<em class="point"></em>
	            				<em class="chapter_hand">
	            					<img src="" sourcesrc="/images/chapter_hand.png" width="100%" />
	            				</em>
	            			</span>
	            			<a href="javascript:mySwiper.slideTo(2, 600, true);" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第二章', '巴黎地图点击']);" class="chapterlink2"></a>
	            				<img src="" sourcesrc="/images/chapter2/chapter2-map.png" width="100%" />
	            			
	            			<span>
	            				点击坐标<br />探访布洛涅森林公园
	            			</span>
	            		</p>
	            	</div>
            	</div>

            </div>

            <div class="swiper-slide swiper-no-swiping">
            	<div class="hand_rTips">

    				<div class="chapter_hand">
    					<img src="/images/handline.png" sourcesrc="/images/handline.png" width="100%" />
    					<img class="handaa" src="" sourcesrc="/images/chapter_hand.png" width="100%" />
    				</div>

        		</div>
            	<div id="wrapper">
					<div id="scroller">

						<div class="focuslv-home">
							
							<div class="focuslv-cn">
								<img src="" sourcesrc="/images/chapter2/focus-cn.jpg" width="100%" />
								<div class="focuslv-en">
									<img src="" sourcesrc="/images/chapter2/focus-en.png" width="100%" />
								</div>

								<div class="chapter_hand">
	            					<img src="" sourcesrc="/images/chapter_hand.png" width="100%" />
	            				</div>
							</div>
							<div class="focus-dot"></div>
						</div>
						<a href="javascript:;" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第二章', '公园建筑物点击']);" class="panoramaLink"></a>
						<img src="/images/chapter2/vso.jpg" height="100%" class="parkImg" />
						
					</div>
					
				</div>
				
            </div>

            <div class="swiper-slide swiper-no-swiping">
            	<div class="chapter_content">
            			<a href="javascript:mySwiper.slideTo(1, 600, true);" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第二章', '返回按钮']);" class="backBtn white">
							<img src="/images/ugc/reback_arr.png" />
							返回
						</a>
            			<div class="chapter2-content">
			    			<img src="" sourcesrc="/images/chapter2/c1.png" width="100%" />
			    			<div class="c2_more">
			    				<a href="http://www.fondationlouisvuitton.fr/en/agenda.html" target="_blank" class="morelink"></a>
			    				<img src="" sourcesrc="/images/chapter2/c2.png" width="100%" />
			    			</div>
						</div>

						<div class="content_footer">
							<p>
							<img src="" sourcesrc="/images/chapter1/footer_tips.png" />
							</p>
							<div class="btnArea">

								<a href="/fondation/ugc" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第二章', '开启你的筑梦之旅按钮']);" class="talk_btn">
									<img src="" sourcesrc="/images/talk_btn.png" width="100%" />
								</a>
								
							</div>
						</div>
						
						<a href="chapter3" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '第二章', '进入第三章按钮']);">
							<img src="" sourcesrc="/images/chapter2/kv.jpg" class="c5" width="100%" />
						</a>
				</div>
            </div>

	    </div>
	</div>


	
</div>

<script type="text/javascript">

		var mySwiper = new Swiper('.swiper-container', {
		    direction: 'vertical',
		    onSlideChangeEnd: function(swiper){
		      	if(swiper.activeIndex != 0){
		      		$(".backBtn").show()
		      	}else{
		      		$(".backBtn").hide();
		      	}
		    }
		    //preventClicks : false
		});


		var myScroll;


		$(".chapterlink2").click(function(){
			$('.scrollsTips').show();
			loaded();
		})
		
		function loaded () {
			$("#scroller").css("width",$(".parkImg").css("width"));
			myScroll = new IScroll('#wrapper', { 
				probeType: 3, 
				scrollX: true, 
				scrollY: false, 
				startX: -parseInt($("#scroller").css("width")) + $(window).width()
			});

			$(".scrollsTips.st-2").css({"bottom":"1.6em"});
			$(".scrollsTips.st-1").css({"bottom":"-10em"});
			myScroll.on('scroll', myCustomFn);	
		}

		function myCustomFn(){
			if(this.x > -156){
				$(".scrollsTips.st-2").css({"bottom":"-10em"});
				$(".scrollsTips.st-1").css({"bottom":"1.6em"});
				
				$(".focus-dot").addClass("focus-dot-animate");
				$(".hand_rTips").hide();
				$(".panoramaLink").show();
			}else{
				$(".scrollsTips.st-2").css({"bottom":"1.6em"});
				$(".scrollsTips.st-1").css({"bottom":"-10em"});
			    $(".panoramaLink").hide();
			    $(".hand_rTips").show();
			}
		}

		$(".focus-dot").bind("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",function(){
			animationListener_focusdot();
			return false;
		});


		var animationListener_focusdot = function(){
			$(".focuslv-cn").stop().animate({"top":"-56px","opacity":1},900,function(){
		    	$(".focuslv-en").stop().animate({"opacity":1});
		    });
		}

		$(".panoramaLink").bind("touchstart", function (event) {
            event.preventDefault();
            mySwiper.slideTo(3, 600, true);
            $('.scrollsTips').hide();
            return false;
        });



	$(function(){

		shareData = {
		    title: '路易威登基金会·梦想之旅',
		    desc: '巴黎布洛涅森林公园中，不可思议的创世建筑',
		    descTimeline: '路易威登基金会·巴黎布洛涅森林公园中，不可思议的创世建筑',
		    url: window.location.host + '/fondation/#1',
			imgUrl: 'http://' + window.location.host + '/images/share.jpg'
		};
		editShare();

		
		var imgSrcArr = [];
		loadingFun(imgSrcArr);
	})



</script>
{% endblock %}