
<!DOCTYPE HTML>
<html>
<head>
	<title>路易威登基金会</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Keywords" content="">
	<meta name="Description" content="...">

	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}

		body{
			background: url("/images/desktop/desktop.jpg") center top no-repeat;
		}
	</style>

</head>
<body></body>
</html>
