{% extends '::base.html.twig' %}
{% block title %}路易威登基金会{% endblock %}
{% block head_style %}
{% stylesheets filter='cssrewrite' output="css/chapter.css"
	'%kernel.root_dir%/Resources/public/css/reset.css'
	'bundles/lvfondation/css/swiper.min.css'
	'%kernel.root_dir%/Resources/public/css/menu.css'
	'bundles/lvfondation/css/guide-style.css'
%}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block head_scripts %}
{% javascripts output="js/chapter.js"
    '%kernel.root_dir%/Resources/public/js/*'
    '@LVFondationBundle/Resources/public/js/swiper.min.js'
    '@LVFondationBundle/Resources/public/js/iscroll-probe.js'
    '@LVFondationBundle/Resources/public/js/guidedata.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block dreambox %}

<!-- 全景地图 -->
<script type="text/javascript" src="http://lab.cubiq.org/iscroll5/build/iscroll.js"></script>
<div class="guideCon">
    <div class="mapArea">
        <a href="javascript:;" title="概览" class="hotlink link-0" data-id="0"></a>
        <a href="javascript:;" title="白房子" class="hotlink link-1" data-id="1"></a>
        <a href="javascript:;" title="黑房子" class="hotlink link-2" data-id="2"></a>
        <a href="javascript:;" title="历史" class="hotlink link-3" data-id="3"></a>
        <a href="javascript:;" title="项目计划" class="hotlink link-4" data-id="4"></a>
        <a href="javascript:;" title="确定模型" class="hotlink link-9" data-id="9"></a>
        <a href="javascript:;" title="设计理念" class="hotlink link-5" data-id="5"></a>
        <a href="javascript:;" title="内部空间" class="hotlink link-6" data-id="6"></a>
        <a href="javascript:;" title="冰川建筑体" class="hotlink link-7" data-id="7"></a>
        <a href="javascript:;" title="玻璃帆船" class="hotlink link-8" data-id="8"></a>
        
        <img src="" sourcesrc="/images/audioGuide/map.jpg" width="100%" />
    </div>
    
    <a href="/fondation/ugc"><img src="" sourcesrc="/images/audioGuide/kv.jpg" width="100%" /></a>
</div>



<!-- 地图详细 -->
<div class="mapInfo"></div>

<script type="text/javascript"> 
var myScroll;

function loaded() {
    myScroll = new IScroll('#wrapper', { mouseWheel: true });
}

//document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);


  
var audio = document.createElement("audio");
function audioFun(num){
    audio.src = "/images/audioGuide/audio/audio"+num+".m4a";
    audio.autoplay = true; //设置是否自动播放
    // audio.addEventListener('ended', function () { //循环播放
    //     audio.play();
    // }, false);
}

// Resetting currentTime will restart the sound
// function restart() {
//     audio.currentTime = 0;
//     audio.play();
// }


function GetQueryString(){
    var r = unescape(location.hash);
    r=r.replace("#","");
    if(r!=null)return r; return null;
}

eventTester = function(e){  
    audio.addEventListener(e,function(){ 
        if(e=="play"){
            $(".audioCon").addClass("pause");
            $(".audioCon img").attr("src","/images/audioGuide/pause.png"); 
        }else{
            $(".audioCon").removeClass("pause");
            $(".audioCon img").attr("src","/images/audioGuide/play.png"); 
        }
        
    });  
} 

 
function hotSpotFun(cunSpot){
    $(".mapInfo").show().animate({"top":"0","opacity":1});
    var swiperImgLength = 0;
    var guideContent = $.map(audioData,function(v,k){

        if(k==cunSpot){
            swiperImgLength = v.imgLength;
            return '<div class="swiper-container" data-id="'+v.id+'"><div class="swiper-wrapper"></div><div class="swiper-pagination"></div></div><div class="mapIntro"><img src="/images/audioGuide/scrollbg.jpg" width="100%" /><div class="introCon"><h2>'+v.theme+'</h2><div id="wrapper"><div class="introText" id="scroller"><p>'+v.description+'</p></div></div></div><div class="textMask"><img src="/images/audioGuide/mask.png" width="100%" /></div><div class="audioControler"><div class="leftBtn"><img src="/images/audioGuide/leftBtn.png" width="100%" /></div><div class="audioCon"><img src="/images/audioGuide/play.png" width="100%" /></div><div class="rightBtn"><img src="/images/audioGuide/rightBtn.png" width="100%" /></div></div></div><div class="mapPos"><a href="javascript:;" class="rebackMap"><img src="/images/audioGuide/hotSpot'+cunSpot+'/curmap.jpg" width="100%" /></a></div>'
        }
    })

    $(".mapInfo").html(guideContent);
    audioFun(cunSpot);
    var swiperHtml = "";
    for(i=0; i<=swiperImgLength; i++){
        swiperHtml+='<div class="swiper-slide"><img src="/images/audioGuide/hotSpot'+cunSpot+'/banner'+i+'.jpg" width="100%" /></div>'
    }

    $(".swiper-wrapper").html(swiperHtml);
    var mySwiper = new Swiper('.swiper-container', {
        effect : 'coverflow',
        pagination: '.swiper-pagination'
    })

    history.pushState({"page": cunSpot}, "" , "#"+cunSpot);

    $(".leftBtn").click(function(){
        var getSpot = GetQueryString();
        if(getSpot<=0)return false;
        getSpot--;
        hotSpotFun(getSpot);
    })

    $(".rightBtn").click(function(){
        var getSpot = GetQueryString();
        if(getSpot>=9)return false;
        getSpot++;
        hotSpotFun(getSpot);
    })


    $(".audioCon").click(function(){
        
        if($(this).hasClass("pause")){
            $(this).removeClass("pause");
            $(this).find("img").attr("src","/images/audioGuide/play.png");
            audio.pause();
        }else{
            $(this).addClass("pause");
            $(this).find("img").attr("src","/images/audioGuide/pause.png");
            audio.play();
        }
        
    })

    $(".rebackMap").click(function(){
        $(".mapInfo").animate({"top":"0","opacity":0},function(){
            $(this).hide();
            audio.pause();
            $(".guideCon").animate({"opacity":1});
            window.location.hash = ""
        });
    })

    
    loaded();

}

$(".hotlink").click(function(){
    var curid = $(this).attr("data-id");
    hotSpotFun(curid);
})


var imgSrcArr = [
    "/images/audioGuide/kv.jpg",
    "/images/audioGuide/leftBtn.png",
    "/images/audioGuide/rightBtn.png",
    "/images/audioGuide/map.jpg",
    "/images/audioGuide/mask.png",
    "/images/audioGuide/pause.png",
    "/images/audioGuide/play.png",
    "/images/audioGuide/scrollbg.jpg",
    "/images/audioGuide/share.jpg"
];

// "/images/audioGuide/audio/audio0.m4a",
// "/images/audioGuide/audio/audio1.m4a",
// "/images/audioGuide/audio/audio2.m4a",
// "/images/audioGuide/audio/audio3.m4a",
// "/images/audioGuide/audio/audio4.m4a",
// "/images/audioGuide/audio/audio5.m4a",
// "/images/audioGuide/audio/audio6.m4a",
// "/images/audioGuide/audio/audio7.m4a",
// "/images/audioGuide/audio/audio8.m4a",
// "/images/audioGuide/audio/audio9.m4a"

for(var i=0; i<=9; i++){
    for(var r=0; r<=1; r++){
        var imgurla = "/images/audioGuide/hotSpot"+i+"/banner"+r+".jpg";
        var curmap = "/images/audioGuide/hotSpot"+i+"/curmap.jpg";
        imgSrcArr.push(imgurla,curmap);
    }  
}

loadingFun(imgSrcArr,finshReturnFun);

function finshReturnFun(){
    if(GetQueryString()){
        hotSpotFun(GetQueryString());
    }else{
        $(".guideCon").animate({"opacity":1});
    }

    eventTester("play");
    eventTester("ended");

    shareData = {
        title: '弗兰克·盖里巴黎路易威登基金会建筑展览北京语音导览',
        desc: '弗兰克·盖里巴黎路易威登基金会建筑展览北京语音导览',
        descTimeline: '弗兰克·盖里巴黎路易威登基金会建筑展览北京语音导览',
        url: window.location.host + '/fondation/#1',
        imgUrl: 'http://' + window.location.host + '/images/audioGuide/share.jpg',
        sharePage: '语音导览',
        sharePageVal: '语音导览'
    };
    editShare();
}

</script>


{% endblock %}