{% extends "LVFondationBundle::layout.html.twig" %}
{% block title %}路易威登基金会{% endblock %}
{% block dreambox %}
<div class="chapter">
	
	<div class="chapter-c">
	<div class="chapter-l swiper-button-prev">
		<span><img src="" sourcesrc="/images/arr-l.png"></span>
	</div>
		<div class="swiper-container">
		  <div class="swiper-wrapper" id="homeList">
		    <div class="swiper-slide">
		    	<a href="chapter1"><img src="" sourcesrc="/images/chapter-1.jpg"></a>
		    </div>
		    <div class="swiper-slide">
		    	<a href="chapter2"><img src="" sourcesrc="/images/chapter-2.jpg"></a>
		    </div>
		    <div class="swiper-slide">
		    	<a href="chapter3"><img src="" sourcesrc="/images/chapter-3.jpg"></a>
		    </div>
		    <div class="swiper-slide">
		    	<a href="chapter4"><img src="" sourcesrc="/images/chapter-4.jpg"></a>
		    </div>
		  </div>

		<!-- 如果需要分页器 -->
    	<div class="swiper-pagination"></div>

		</div>
	<div class="chapter-r swiper-button-next">
		<span><img src="" sourcesrc="/images/arr-r.png"></span>
	</div>
	</div>
	
</div>

<div class="dreamTrip">
	<a href="/fondation/ugc">
		<img src="" sourcesrc="/images/dreamTrip.jpg">
	</a>
</div>
<script type="text/javascript">




;(function($){
	$(function(){

		function GetQueryString(){
		    var r = unescape(location.hash);
		    r=r.replace("#","");
		    if(r!=null)return r; return null;
		}

		var defaultSlide = 0;
		if(!GetQueryString()){
			defaultSlide = 0;
		}else{
			defaultSlide = parseInt(GetQueryString()-1);
		}
		
		var mySwiper = $('.swiper-container').swiper({
			pagination: '.swiper-pagination',
			nextButton: '.swiper-button-next',
	        prevButton: '.swiper-button-prev',
	        paginationClickable: true,
	        loop: true,
	        initialSlide : defaultSlide,
	        onTouchEnd: function(swiper){
	        	history.pushState("/", null, "#"+parseInt(swiper.activeIndex));

	        	switch(swiper.activeIndex){
				case 0:
				    shareData = {
				        title: '路易威登基金会▪起航',
				        desc: '艺术与建筑的碰撞，一个美梦成真的故事',
				        url: window.location.host + '/fondation/#1'
				    };
				  break;
				case 1:
				    shareData = {
					    title: '路易威登基金会▪梦想之旅',
					    desc: '巴黎布洛涅森林公园中，不可思议的创世建筑',
					    url: window.location.host + '/fondation/#2'
				    };
				  break;
				case 2:
				    shareData = {
					    title: '路易威登基金会▪立梦建筑',
					    desc: '大师弗兰克·盖里的创世之作，法国里程碑式建筑新坐标',
					    url: window.location.host + '/fondation/#3'
				    };
				  break;
				default:
				    shareData = {
					    title: '路易威登基金会▪创梦当代',
					    desc: '巴黎到北京，探访路易威登基金会建筑展览，领略建筑艺术的无限可能',
					    url: window.location.host + '/fondation/#4'
				    };
				}
	        	
	        	//editShare();
		        //console.log(swiper.activeIndex)
		    }
		});

		var imgSrcArr = [];
		loadingFun(imgSrcArr);


	})
})(jQuery);


</script>
{% endblock %}
