{% extends "LVFondationBundle::layout.html.twig" %}
{% block title %}路易威登基金会{% endblock %}
{% block dreambox %}
<style type="text/css">
	body{
		background: #f7f7f5;
	}

	.menu li:nth-child(6){
		display: none;
	}
	.mmsBox{
		width: 100%;
		position: relative;
		display: inline-block;
	}
	.mms_openBtn{
		width: 50%;
		position: absolute;
		left: 50%;
		bottom: 5em;
		margin: 0 0 0 -25%;
	}

	/* 6plus */
	@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
	    .mms_openBtn{
			bottom: 6em;
		}
	}

	/* 6 */
	@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {
	    .mms_openBtn{
			bottom: 6em;
		}
	}
</style>
<div class="mmsBox">
<a href="/fondation" class="mms_openBtn">
	<img src="" sourcesrc="/images/openBtn.png" width="100%" />
</a>
<img src="" sourcesrc="/images/einviteCallCenter.jpg" width="100%" />
</div>
<script type="text/javascript">



	$(function(){

		shareData = {
		    title: '路易威登基金会·梦想启航',
		    desc: '我的梦想已经扬帆！和你的一样吗？',
		    descTimeline: '路易威登基金会·我的梦想已经扬帆！和你的一样吗？',
		    link: window.location.host + "/fondatioin",
			imgUrl: 'http://' + window.location.host + '/images/share.jpg'
		};

		editShare();


		var imgSrcArr = [];
		loadingFun(imgSrcArr);

	})



</script>
{% endblock %}
