{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block dreambox %}
	<div id="wechatTips"></div>
	<div class="share">

		<div class="handTips"><span>长按保存<br />
邀请函</span></div>

		<img src="" sourcesrc="/files{{ invitation.imgurl }}" width="100%" class="header_img"/>
		{% if user.id == invitation.user.id %}
		<input type="submit" value="分享" class="share_btn">
		{% endif %}
	</div>	

	<script type="text/javascript">
	;(function($){
		$(function(){

			shareData = {
			    title: '第四章：路易威登基金会▪创梦当代',
			    desc: '巴黎到北京，探访路易威登基金会建筑展览，领略建筑艺术的无限可能'
			};

			$(".share_btn").click(function(){
				$("#wechatTips").fadeIn();
			})

			document.getElementById('wechatTips').addEventListener('touchstart' , function (ev){
				ev.preventDefault();
				$("#wechatTips").fadeOut();
				return false;
			} , false)

			var imgSrcArr = [];
			loadingFun(imgSrcArr);
		})
	})(jQuery);

	</script>

{% endblock %}