{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block title %}创梦当代{% endblock %}
{% block dreambox %}
	<div id="wechatTips"></div>
	<div class="share">

		

		{% if user.id == invitation.user.id %}
			<div class="handTips" id="handTips">
				<div class="hand_dot">
					<div class="c_dot"></div>
					<div class="hands_active"></div>
				</div>

				<span>长按保存<br />邀请函</span>
			</div>
		<script type="text/javascript">
			document.getElementById('handTips').addEventListener('touchstart' , function (ev){
				ev.preventDefault();
				$(".handTips").hide();
				return false;
			} , false)
		</script>
		{% endif %}



		<img src="" sourcesrc="/files{{ invitation.imgurl }}" height="100%" class="header_img"/>
		
		<div class="invitation_footer">
			<img src="" sourcesrc="/images/form/footer_bg.png" width="100%"/>

			{% if user.id == invitation.user.id %}
				<input type="submit" value="分享" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '邀请函', '分享']);" class="share_btn">
			{% else %}	
			    <input type="button" onclick="location.href='/fondation/invitation'" onclick="_hmt.push(['_trackEvent', 'btn', 'click', '邀请函', '申领邀请函']);" value="申领邀请函" class="slBtn">
			{% endif %}
		</div>
	</div>	

	<script type="text/javascript">

		$(function(){

			$("body").css({"background":"#ececec"});
			shareData = {
			    title: '路易威登基金会·创梦当代',
			    desc: '申领邀请函，共赴北京路易威登基金会',
			    descTimeline: '申领邀请函，共赴北京路易威登基金会',
				imgUrl: 'http://' + window.location.host + '/images/share.jpg',
			    returnFun: function(){
			    	window.location.href="/fondation/ugc";
			    }
			};
			editShare();

			$(".share_btn").click(function(){
				$("#wechatTips").fadeIn();
			})

			document.getElementById('wechatTips').addEventListener('touchstart' , function (ev){
				ev.preventDefault();
				$("#wechatTips").fadeOut();
				return false;
			} , false)


			var imgSrcArr = [];
			loadingFun(imgSrcArr);
		})


	</script>

{% endblock %}