{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block title %}创梦当代{% endblock %}
{% block dreambox %}
	<div id="wechatTips"></div>
	<div class="share">

		<div class="handTips" id="handTips">
			<div class="hand_dot">
				<div class="c_dot"></div>
				<div class="hands_active"></div>
			</div>

			<span>长按保存{{userdream.who}}<br />
邀请函</span></div>

		<img src="" sourcesrc="/files{{ invitation.imgurl }}" height="100%" class="header_img"/>
		{% if user.id == invitation.user.id %}
		<div class="invitation_footer">
			<img src="" sourcesrc="/images/form/footer_bg.png" width="100%"/>
			
			{% if userdream.who == 'myself' %}
			<input type="submit" value="分享" class="share_btn">
			{% else %}	
			<a href="/fondation/invitation" class="btn">申领邀请函</a>
			{% endif %}
		</div>
		{% endif %}
	</div>	

	<script type="text/javascript">

		$(function(){

			$("body").css({"background":"#ececec"});
			shareData = {
			    title: '路易威登基金会·创梦当代',
			    desc: '申领邀请函，共赴北京路易威登基金会',
			    descTimeline: '申领邀请函，共赴北京路易威登基金会',
				imgUrl: 'http://' + window.location.host + '/images/share.jpg',
			    returnFun: function(){
			    	window.location.href="/fondation/ugc";
			    }
			};
			editShare();

			$(".share_btn").click(function(){
				$("#wechatTips").fadeIn();
			})

			document.getElementById('wechatTips').addEventListener('touchstart' , function (ev){
				ev.preventDefault();
				$("#wechatTips").fadeOut();
				return false;
			} , false)

			document.getElementById('handTips').addEventListener('touchstart' , function (ev){
				ev.preventDefault();
				$(".handTips").hide();
				setTimeout(function(){
					$(".handTips").fadeIn();
				},5000);
				return false;
			} , false)


			var imgSrcArr = [];
			loadingFun(imgSrcArr);
		})


	</script>

{% endblock %}