{% extends 'LVFondationBundle::layout.html.twig' %} 
{% block dreambox %}
	<div class="share">
		<img src="/files{{ invitation.imgurl }}" width="100%" class="header_img"/>
		{% if user.id == invitation.user.id %}
		<input type="submit" value="分享" class="share_btn">
		{% endif %}
	</div>	
{% endblock %}