
<!DOCTYPE HTML>
<html>
<head>
	<title>路易威登永无止境的旅程</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Keywords" content="">
	<meta name="Description" content="...">
	<link rel="icon" href="/favicon3.ico" />
	<script type="text/javascript" src="http://coachfoc.samesamechina.com/js/jquery.js"></script>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		html,body{
			width: 100%;
			text-align: center;
			height: 100%;
		}

		#con{
			width: 100%;
			height: 100%;
			background: #000 url("/images/cvd/desktop.jpg") no-repeat center;
		}

	</style>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?38a2f94d03df36dfccbca6b719d4e325";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
</head>
<body>
<div id="con"></div>

<script type="text/javascript">
function getHeight(){
	if($(window).height() > 600){

	}else{
		$("#con").css({"height": $(window).height()});  
	}
	
}
getHeight()


$(window).resize(function(){
 	 getHeight()
});
</script>


</body>
</html>
