
<!DOCTYPE HTML>
<html>
<head>
	<title>路易威登浪漫七夕</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Keywords" content="">
	<meta name="Description" content="...">
	<script type="text/javascript" src="http://coachfoc.samesamechina.com/js/jquery.js"></script>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		body{
			width: 100%;
			text-align: center;
			background: #000;
		}

		#con{
			position: relative;
			top:50%;
		}

	</style>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?38a2f94d03df36dfccbca6b719d4e325";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
</head>
<body>
	<img src="/images/cvd/desktop.jpg" id="con">

<script type="text/javascript">
function getHeight(){
	if($(window).height() > 700){

	}else{
		$("#con").css({"height": $(window).height(),"margin-top": -parseInt($(window).height())/2});
	}
	
}
getHeight()


$(window).resize(function(){
 	 getHeight()
});
</script>


</body>
</html>
