{% extends 'LVCvdBundle::layout.html.twig' %} 
{% block content %}

<div id="loading">

	<div class="loading_con">
		<img src="/images/cvd/loading.png" width="100%" />
		<p></p>
	</div>

</div>
	
<article id="dreambox">

	<!-- home -->
	<section class="mainer" id="home">
		<div class="container">
			<a href="javascript:;" class="logo">
				<img src="" sourcesrc="/images/cvd/logo.png" width="100%" />
			</a>

			<div class="slogan">
				<img src="" sourcesrc="/images/cvd/slogan.png" width="100%" />
			</div>

			<div class="entrance">
				<dl>
					<dt>
						<img src="" sourcesrc="/images/cvd/bags1.png" width="96%" />
					</dt>
					<dd><p><img src="" sourcesrc="/images/cvd/text-1.png" width="100%" /></p></dd>
				</dl>

				<dl>
					<dt>
						<img src="" sourcesrc="/images/cvd/bags2.png" width="95%" />
					</dt>
					<dd><p><img src="" sourcesrc="/images/cvd/text-2.png" width="100%" /></p></dd>
				</dl>
			</div>
		</div>


		<img src="" sourcesrc="/images/cvd/bg.jpg" class="create_bg" width="100%" />
	</section>

</article>


<script type="text/javascript">
alert($(document).height());
_hmt.push(['_setAutoPageview', true]);
_hmt.push(['_trackPageview', 'index']);




var allImgSrcArr = [
	"/images/cvd/pc.jpg",
	"/images/cvd/a.png",
	"/images/cvd/b.png",
	"/images/cvd/c.png",
	"/images/cvd/d.png",
	"/images/cvd/e.png",
	"/images/cvd/f.png",
	"/images/cvd/g.png",
	"/images/cvd/h.png",
	"/images/cvd/i.png",
	"/images/cvd/j.png",
	"/images/cvd/k.png",
	"/images/cvd/l.png",
	"/images/cvd/m.png",
	"/images/cvd/n.png",
	"/images/cvd/o.png",
	"/images/cvd/p.png",
	"/images/cvd/q.png",
	"/images/cvd/r.png",
	"/images/cvd/s.png",
	"/images/cvd/t.png",
	"/images/cvd/u.png",
	"/images/cvd/v.png",
	"/images/cvd/w.png",
	"/images/cvd/x.png",
	"/images/cvd/y.png",
	"/images/cvd/z.png",
	"/images/cvd/arr_l.png",
	"/images/cvd/arr_r.png",
	"/images/cvd/bg.jpg",
	"/images/cvd/bg2.jpg",
	"/images/cvd/line.png",
	"/images/cvd/lock.png",
	"/images/cvd/lockLove_btn.png",
	"/images/cvd/logo.png",
	"/images/cvd/loveline.png",
	"/images/cvd/magnifier.png",
	"/images/cvd/slogan.png",
	"/images/cvd/wechat.png",
	"/images/cvd/withlove.png",
	"/images/cvd/pro/female/accessories/accessories-1.png",
	"/images/cvd/pro/female/accessories/accessories-2.png",
	"/images/cvd/pro/female/accessories/accessories-3.png",
	"/images/cvd/pro/female/accessories/accessories-4.png",
	"/images/cvd/pro/female/bags/bags-1.png",
	"/images/cvd/pro/female/bags/bags-2.png",
	"/images/cvd/pro/female/bags/bags-3.png",
	"/images/cvd/pro/female/bags/bags-4.png",
	"/images/cvd/pro/female/shoe/shoe-1.png",
	"/images/cvd/pro/female/shoe/shoe-2.png",
	"/images/cvd/pro/female/shoe/shoe-3.png",
	"/images/cvd/pro/female/shoe/shoe-4.png",
	"/images/cvd/pro/female/watch/watch-1.png",
	"/images/cvd/pro/female/watch/watch-2.png",
	"/images/cvd/pro/female/watch/watch-3.png",
	"/images/cvd/pro/female/watch/watch-4.png",
	"/images/cvd/pro/male/accessories/accessories-1.png",
	"/images/cvd/pro/male/accessories/accessories-2.png",
	"/images/cvd/pro/male/accessories/accessories-3.png",
	"/images/cvd/pro/male/accessories/accessories-4.png",
	"/images/cvd/pro/male/bags/bags-1.png",
	"/images/cvd/pro/male/bags/bags-2.png",
	"/images/cvd/pro/male/bags/bags-3.png",
	"/images/cvd/pro/male/bags/bags-4.png",
	"/images/cvd/pro/male/shoe/shoe-1.png",
	"/images/cvd/pro/male/shoe/shoe-2.png",
	"/images/cvd/pro/male/shoe/shoe-3.png",
	"/images/cvd/pro/male/shoe/shoe-4.png",
	"/images/cvd/pro/male/watch/watch-1.png",
	"/images/cvd/pro/male/watch/watch-2.png",
	"/images/cvd/pro/male/watch/watch-3.png",
	"/images/cvd/pro/male/watch/watch-4.png"
];

var loadingFun = function(){


		function LoadFn ( arr , fn , fn2){
				var loader = new PxLoader();
				for( var i = 0 ; i < arr.length; i ++)
				{
					loader.addImage(arr[i]);
				};
				
				loader.addProgressListener(function(e) {
						var percent = Math.round( e.completedCount / e.totalCount * 100 );
						if(fn2) fn2(percent)
				});	
				
				
				loader.addCompletionListener( function(){
					if(fn) fn();	
				});
				loader.start();	
		}


		LoadFn(allImgSrcArr , function (){
		    //console.log("加载完成!");
		    $("#home img").each(function(){ 
				$(this).attr("src",$(this).attr("sourcesrc"));
			})
		    _doing();
		} , function ( p ){
			$('.loading_con p').html(p+"%");
		});

};



var loadingImg = new Image();
loadingImg.src="/images/cvd/loading.png";
loadingImg.onload = function(){
	loadingFun();
}





function _doing(){

	$("#loading").animate({"opacity":0},function(){
		$("#loading").hide();
	}).hide();

	TweenMax.fromTo(document.querySelector('#home'), 2, {
        scale:1.2,
        autoAlpha:0,
        blurFilter:{blurX:50, blurY:10},
        opacity:0
    }, {
        autoAlpha:1,
    	scale:1,
    	opacity:1,
        ease: Elastic.easeOut,
        easeParams: [0.2, 0.7],
        force3D: false,
        onComplete:function(){
        }
    });
	
}

$(".entrance dl").click(function(){
	if($(this).index() == 0){
		_hmt.push(['_trackEvent', 'btn', '首页按钮', '锁住她']);
		location.href = "{{ url('lv_cvd_product', {'gender': 'female'}) }}"
	}else{
		_hmt.push(['_trackEvent', 'btn', '首页按钮', '锁住他']);
		location.href = "{{ url('lv_cvd_product', {'gender': 'male'}) }}"
	}
})



$(function(){

	shareData = {
	    title: '路易威登臻礼相伴爱情旅程，七夕一起见证我们的爱情',
	    desc: '将你的名字印记在我的心锁上，愿真挚之爱如影随行。',
	    descTimeline: '“锁住爱”- 路易威登与您相伴浪漫七夕',
		link: window.location.host + "/chinesevday",
		imgUrl: 'http://' + window.location.host + '/images/cvd/share.jpg',
		sharePage: '首页',
		sharePageVal: '首页'
	};
	editShare();

})




</script>




{% endblock %}