{% extends 'LVCvdBundle::layout.html.twig' %} 
{% block content %}
	
	
	<!-- {{ismylocks}} 1.本人，0不是本人 -->
	<section class="mainer" id="share">
		<div id="resultImg">
			<img src="/{{locks.imgurl}}" width="100%" />
		</div>


		<div class="btnArea">

			{% if ismylocks %}

			<p>您的爱意已经传达</p>
			<a href="{{ url('lv_cvd_product', {'gender': locks.sex}) }}" class="btn goPro"><span>继续观赏<br />甄选商品</span></a>

			{% else %}

			<p>路易威登浪漫七夕，为你锁住爱</p>
			<a href="{{ url('lv_cvd_index') }}" class="btn goPlay"><span>我也要锁住爱</span></a>

			{% endif %}
		</div>
	</section>


	<script type="text/javascript">

		$(function(){

			shareData = {
			    title: '我与路易威登送你七夕臻礼，等你来轻启爱的誓言',
			    desc: '将你的名字印记在我的心锁上，带你见证七夕最浪漫的誓言',
			    descTimeline: '臻礼伴随七夕爱情之旅，路易威登锁住你的爱',
				link: window.location.host,
				imgUrl: 'http://' + window.location.host + '/images/love/share.jpg',
				sharePage: '首页',
				sharePageVal: '首页'
			};
			editShare();

		})

	</script>

{% endblock %}