{% extends 'LVCvdBundle::layout.html.twig' %} 
{% block content %}
	
	
	<!-- {{ismylocks}} 1.本人，0不是本人 -->
	<section class="mainer" id="share">
		<div id="resultImg">
			<img src="/{{locks.imgurl}}" width="100%" />
		</div>


		<div class="btnArea">

			{% if ismylocks %}

			<p><img src="/images/cvd/t3.png" width="70%" /></p>
			<a href="{{ url('lv_cvd_product', {'gender': locks.sex}) }}" class="btn goPro"><img src="/images/cvd/text-5.png" width="90%" /></a>

			{% else %}

			<p><img src="/images/cvd/t4.png" width="70%" /></p>
			<a href="{{ url('lv_cvd_index') }}" class="btn goPlay"><img src="/images/cvd/text-6.png" width="90%" /></a>

			{% endif %}
		</div>
	</section>


	<script type="text/javascript">

		$(function(){

			shareData = {
			    title: '路易威登臻礼相伴爱情旅程，七夕一起见证我们的爱情',
			    desc: '将你的名字印记在我的心锁上，愿真挚之爱如影随行。',
			    descTimeline: '“锁住爱”- 路易威登与您相伴浪漫七夕',
				link: window.location.host,
				imgUrl: 'http://' + window.location.host + '/images/cvd/share.jpg',
				sharePage: '首页',
				sharePageVal: '首页'
			};
			editShare();

		})

	</script>

{% endblock %}