* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body {
	font-size: 12px;
	font-family: ubuntu, helvetica, arial;
	/*overflow: hidden;  this is important to prevent the whole page to bounce */
}

.guideCon{
	opacity: 0;
}

.mapArea{
	width: 100%;
	position: relative;
}

.mapArea a{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	/*background: green;
	opacity: 0.6;*/
}

.mapArea a.link-0{
	left: 35%;
	top: 86%;
}

.mapArea a.link-1{
	width: 100px;
	left: 35%;
	top: 70%;
}

.mapArea a.link-2{
	width: 80px;
	height: 40px;
	left: 11%;
	top: 57%;
}

.mapArea a.link-3{
	left: 23%;
	top: 49%;
}

.mapArea a.link-4{
	left: 34%;
	top: 42%;
}

.mapArea a.link-5{
	left: 37%;
	top: 29%;
}

.mapArea a.link-6{
	left: 22%;
	top: 15%;
}

.mapArea a.link-7{
	left: 51%;
	top: 12%;
}

.mapArea a.link-8{
	left: 49%;
	top: 43%;
}

.mapArea a.link-9{
	left: 50%;
	top: 52%;
}




/* mapInfo */

.mapInfo{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	background: #fff;
	overflow: auto;
	display: none;
	opacity: 0;
}

.swiper-wrapper, .swiper-container{
	height: auto;
}

.swiper-pagination-bullet{
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active{
	width: 15px;
	opacity: 1;
	border-radius: 6px;
	-webkit-transition:all .6s ease-out;
	-moz-transition:all .6s ease-out;
	transition:all .6s ease-out;
}

.mapIntro{
	width: 100%;
	position: relative;
}

.introCon{
	width: 90%;
	height: 90%;
	position: absolute;
	left: 6%;
	top: 5%;
}

.introCon h2{
	font-size: 20px;
	width: 100%;
	text-align: center;
	padding: 0 0 10px 0;
}

.introCon p{
	font-size: 16px;
	width: 100%;
	letter-spacing: 0.1em;
	font-family: "微软雅黑";
	padding: 0 0 3em 0;
}

.audioControler{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -1.5em;
	text-align: center;
	z-index: 3;
}

.textMask{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.leftBtn{
	width: 15%;
	position: absolute;
	left: 1em;
	top: 1em;
}

.audioCon{
	width: 20%;
	display: inline-block;
}

.rightBtn{
	width: 15%;
	position: absolute;
	right: 1em;
	top: 1em;
}

#wrapper {
	position: absolute;
	z-index: 1;
	width: 100%;
	height:72%;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	-ms-overflow-scrolling: touch; 
    -moz-overflow-scrolling: touch; 
    -webkit-overflow-scrolling: touch; 
    -o-overflow-scrolling: touch;  
}



