

*{
    margin: 0;
    padding: 0;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}


.error::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f00;
}
.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f00;
}
.error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f00;
}
.error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f00;
}


html,body,#dreambox{
	width: 100%;
	height: 100%;
	position: relative;
	/*background: #f1f1f1;*/

	-ms-overflow-scrolling: hidde; 
    -moz-overflow-scrolling: touch; 
    -webkit-overflow-scrolling: touch; 
    -o-overflow-scrolling: touch;  

}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#chapter #dreambox{
	background: none;
}

#homeList img{
	width: 100%;
}

.chapter{
	width: 100%;
	/*height: 100%;*/
	float: left;
	display: inline-block;
	position: relative;
}

.modelpage{
	height:100%;
	overflow: hidden;
}

.gif_bg{
	background: #fff;
	height: 100%;
	position: relative;
}

.pageArr{
    width: 27%;
    position: absolute;
    left: 50%;
    bottom: 1em;
    margin: 0 0 0 -13.5%; 
    font-size: 12px;
    text-align: center;
    color: #434243;
}

.pageArr img{
    width: 27%;
    display: inline-block;
}


.pageArr { 
  -webkit-animation: arrAni 1.6s infinite ease-in-out;
     -moz-animation: arrAni 1.6s infinite ease-in-out;
          animation: arrAni 1.6s infinite ease-in-out;
}



/**
 * = animate 动画样式
 *******************************************************************************************************/
/*箭头指示引导*/
@-webkit-keyframes arrAni {
  0%,30% {opacity: 0;-webkit-transform: translate(0,6px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-6px);}
}
@-moz-keyframes arrAni {
  0%,30% {opacity: 0;-webkit-transform: translate(0,6px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-6px);}
}
@keyframes arrAni {
  0%,30% {opacity: 0;-webkit-transform: translate(0,6px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-6px);}
}



.chapter-l,.chapter-r{
	width: 6%;
	height: 100%;
	float: left;
	display: inline-block;
	position: absolute;
	top: 0;
	z-index: 2;
}

.chapter-l span, .chapter-r span{
    width: 50%;
    position: absolute;
    left: 0;
    top: 49%;
}

.chapter-r span{
	left: auto;
	right: 0;
}

.chapter-l span img, .chapter-r span img{
	width: 100%;
}


.chapter-l{
	background: none;
	left: 0;
}

.chapter-r{
	background: none;
	right: 0;
}



.chapter-c{
	width: 100%;
	float: left;
	display: inline-block;
	position: relative;
}

.swiper-container, .swiper-wrapper, .swiper-slide{
	width: 100%;
}

.swiper-pagination-bullet{
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active{
	width: 15px;
	opacity: 1;
	border-radius: 6px;
	-webkit-transition:all .6s ease-out;
	-moz-transition:all .6s ease-out;
	transition:all .6s ease-out;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
	opacity: 1;
}

.swiper-button-next.swiper-button-disabled span, .swiper-button-prev.swiper-button-disabled span{
	opacity: 0.5;
}

.swiper-button-next, .swiper-button-prev{
	margin: 0;
}

.dreamTrip{
	width: 100%;
}

.dreamTrip img{
	width: 106%;
}



/* chapter-1 */
.arrUp{
	width: 8%;
	position: fixed;
	left: 50%;
	bottom: 2em;
	margin: 0 0 0 -4%;
	z-index: 9; 
	text-align: center;
}

.arrUp img{
	width: 100%;
	display: inline-block;
}

.ani_area{
	width: 100%;
}

.ani_area{
	background: #fff;
}

.ani{
	width: 100%;
}

.chapter_content{
	width: 100%;
	height: 100%;
	overflow: auto;
	/*padding: 12% 0 0 0;*/
}

.contentImg{
	width: 99%;
	display: inline-block;
}

.contentImg .c2{
	padding: 20px 0;
	display: inline-block;
	width: 94%;
}

.contentImg .c4{
	padding: 20px 0;
	display: inline-block;
}

#chapter{
	background: url("/images/content_bg.jpg") center top no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.content_footer{
	width: 100%;
	position: relative;
	text-align: center;
	display: inline-block;
	background: url("/images/chapter1/footer_bg.png") center bottom no-repeat;
	background-size: 100% auto;
}

.content_footer p{
	width: 100%;
	margin: 15px 0 0 0;
	display: inline-block; 
}

.content_footer p img{
	width: 56%;
	display: inline-block;
}

.btnArea{
	width: 50%;
	line-height: 0;
	display: inline-block;
	padding: 22px 0 34px 0;
}

.btnArea a{
	margin: 6px 0; 
	display: inline-block; 
}


/* chapter2 */
.chapter2-content{
	width: 90%;
	display: inline-block;
	padding: 1em 0; 
}

.mapInfo{
	width: 100%;
	position: relative;
	text-align: center;
	margin: 16% 0 6% 0;
}

.mapInfo h2{
	font-size: 23px;
	padding: 0 0 10px 0;
	border-bottom: 1px #020202 solid;
	display: inline-block;
}

.mapInfo p{
	width: 90%;
	display: inline-block;
	padding: 14px 0 0 0;
	font-size: 12px;
	line-height: 18px;
	position: relative;
}

.coordinate_link,.coordinate_link_chpater4{
	width: 30%;
	height: 56px;
	position: absolute;
	left: 0;
	top: 5em;
	z-index: 2;
}

.coordinate_link{
	left: -0.2em;
 	top: 4.8em;
}

.coordinate_link_chpater4{
	left: auto;
	right: 6.2em;
	top: 7.6em;
}

.point{
	width: 20%;
	height: 40%;
	background: url("/images/chapter2/points.png") no-repeat;
	background-size: 100% auto;
	display: inline-block;
	position: absolute;
	top: 40%;
}


.point { 
    -webkit-animation: pointAni 2s infinite ease-in-out;
    -moz-animation: pointAni 2s infinite ease-in-out;
    animation: pointAni 2s infinite ease-in-out;
}



/**
 * = animate 动画样式
 *******************************************************************************************************/
/*箭头指示引导*/
@-webkit-keyframes pointAni {
  0%,30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes arrAni {
  0%,30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes arrAni {
  0%,30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0;}
}





.activeTips_chapter2{
	width: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	position: absolute;
	left: 0;
	bottom: 0;
}



/* chapter3 */
.glassInstall{
	width: 100%;
	height: 100%;
	background: url("/images/chapter3/building.jpg") center top no-repeat;
	background-size: 106% auto;
	position: relative;
}

.page-con{
	width: 100%;
	height: 100%;
}

.glassInstall_con{
	position: relative;
	z-index: 2;
	line-height: 0;
}

.glassInstall h2{
	font-size: 16px;
	width: 100%;
	margin: 5em 0 1em 0;
	display: inline-block; 
	color: #3b3b3c;
}

.glassBlock{
	width: 60%;
	margin: 1.8em 0 0 0; 
	display: inline-block;
}

.glassBlock_tips{
	width: 100%;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	color: #3b3b3c;
	margin: 6em 0 0.8em 0;
	display: inline-block;
}

.glassInstall_fin{
	width: 100%;
	height: 100%;
	background: url("/images/chapter3/building_fin.jpg") center top no-repeat;
	background-size: 106% auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	opacity: 0;
}

.glassInfo{
	display: none;
	padding: 3.2em 0 0 0;
}

.glassInfo p{
	padding: 1em 0;
	width: 100%;
	display: inline-block;
	font-size: 12px;
	color: #686868;
}

.glassInfo p span{
	color: #4c4c4c;
	border-bottom: 1px #4c4c4c solid;
	margin: 0 0.3em 0 0;
	font-size: 14px;
}


.btn{
	width:60%;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px #000 solid;
	color: #040301;
	font-size: 14px;
}

.goonSearch{
	display: none;
}

.glass_footer{
	position: absolute;
	left: 0;
	bottom: 1em;
	width: 100%;
	z-index: 2;
	line-height: 0;
}

.glassInstall_info{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	display: none;
	opacity: 0;
}

.glassInstall_info .c3{
	margin:-3em 0;
}



/* chapter4 */
.chapter4{
	padding: 0 0 0 0;
	display: inline-block;
}

.chapter4_text{
	width: 80%;
	display: inline-block;
	margin: 0.5em 0 0 0; 
}

.chapter4_text h2{
	font-size: 27px;
	color: #000;
	border-bottom: 1px #020202 solid;
	padding: 0.6em 0 0.3em 0;
	display: inline-block;
}

.chapter4_text p{
	font-size: 12px;
	color: #000;
	line-height: 18px;
	padding: 6px 0 9px 0;
	width: 100%;
}

.chapter4_text p.time{
	padding-top: 25px;
	opacity: 0.9;
}

.chapter4{
	position: relative;
	padding: 0 0 18px 0;
}

.chapterimg-4{
	position: relative;
}

.chapterimg-4 img{
	margin: 15px 0;
	display: inline-block;
}

.chapter4 .btnArea{
	padding: 0;
	position: absolute;
	left: 50%;
	bottom: 0.9em;
	margin: 0 0 0 -25%;
}

.viewmore{
	width: 76%;
	height: 5%;
	background: none;
	position: absolute;
	right: 0;
	bottom:1em;
}






/* 框架样式 */

.m-page {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size:40px;
  color: #fff;
  position:absolute;
  left: 0; 
  top:0;
  overflow: auto;
}





/* form */
#form{
	background:#ececec;

}
.header_img{
	position: relative;
	display: inline-block;
	width:96%;
	margin: 0 0 0 2%;
	
}
.invitation{
	position: relative;
	display: inline-block;
	width:60%;
	margin: 4% 0px 0px 20%;
}
.form{
	position: relative;
	display: inline-block;
	width:74%;
	margin: 4% 0px 0px 13%;
}
.form ul li{
	background: #dcdcdc;
	margin: 6px 0;
	padding: 10px 0px 10px 20px;
	font-size: 1.2em;
	color:#767676;
	width: 100%;
	float: left;
	display: inline-block;
}
.sub_btn{
	background: none;
	position: relative;
	display: inline-block;
	width:40%;
	margin: 6px 0px 10px 30%;
	border: 1px solid #000;
	font-size: 1.2em;
	padding: 6px 0px;
	font-weight: bold;
	letter-spacing: .1em;
}	

.form ul li span{
	width: 27%;
	display: inline-block;
	float: left;
}

.form ul li input{
	height:1.2em;
	margin-left: 10px;
	background: none;
	border:none;
	text-transform: lowercase;
	color:#767676;
	line-height: 1.2em;
	width: 67%;
	float: right;
	display: inline-block;

}
/* share */
.hand_dot{
	width: 22px;
	height: 22px;
	background: url("/images/form/hand_dot.png") center top no-repeat;
	background-size: 100% auto;
	position: absolute;
	left: 50%;
	top: 0;
	margin: 0 0 0 -14px;
}

.hands_active{
	width: 32px;
	height: 90px;
	background: url("/images/form/hand.png") center top no-repeat;
	background-size: 100% auto;
	position: absolute;
	left: 50%;
	top: 14px;
	margin: 0 0 0 -12px;
}

.c_dot{
	width: 9px;
	height: 9px;
	border-radius: 13px;
	background: #008dae;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -4.5px 0 0 -4.5px; 
}

.handTips{
	width: 60px;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -30px;
	top: 18%; 
	height: 96px;
	z-index: 6;
	background: url("/images/hand-1.png") center top no-repeat;
	background-size: 50% auto;
	text-align: center;
}


.c_dot { 
  -webkit-animation: dot_anidot_ani 2s infinite linear;
     -moz-animation: dot_ani 2s infinite linear;
          animation: dot_ani 2s infinite linear;
}


.hands_active { 
  -webkit-animation: handTips_ani 1.5s infinite linear;
     -moz-animation: handTips_ani 1.5s infinite linear;
          animation: handTips_ani 1.5s infinite linear;
}

@-webkit-keyframes handTips_ani {
  0% {opacity: 0;-webkit-transform: translate(0,10px);}
  30% {opacity: 0.5;-webkit-transform: translate(0,5px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0.5;-webkit-transform: translate(0,-5px);}
  100% {opacity: 0;-webkit-transform: translate(0,-10px);}
}
@-moz-keyframes handTips_ani {
  0% {opacity: 0;-webkit-transform: translate(0,10px);}
  30% {opacity: 0.5;-webkit-transform: translate(0,5px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  90% {opacity: 0.5;-webkit-transform: translate(0,-5px);}
  100% {opacity: 0;-webkit-transform: translate(0,-10px);}
}
@keyframes handTips_ani {
  0% {opacity: 0;-webkit-transform: translate(0,10px);}
  30% {opacity: 0.5;-webkit-transform: translate(0,5px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  90% {opacity: 0.5;-webkit-transform: translate(0,-5px);}
  100% {opacity: 0;-webkit-transform: translate(0,-10px);}
}



@-webkit-keyframes dot_ani {
  0% {opacity: 1;-webkit-transform: scale(0);}
  30% {opacity: 0.6;-webkit-transform: scale(0.6);}
  60% {opacity: 0;-webkit-transform: scale(1.2);}
  90% {opacity: 0.6;-webkit-transform: scale(0.6);}
  100% {opacity: 1;-webkit-transform: scale(0);}
}
@-moz-keyframes dot_ani {
  0% {opacity: 1;-webkit-transform: scale(0);}
  30% {opacity: 0.6;-webkit-transform: scale(0.6);}
  60% {opacity: 0;-webkit-transform: scale(1.2);}
  90% {opacity: 0.6;-webkit-transform: scale(0.6);}
  100% {opacity: 1;-webkit-transform: scale(0);}
}
@keyframes dot_ani {
  0% {opacity: 1;-webkit-transform: scale(0);}
  30% {opacity: 0.6;-webkit-transform: scale(0.6);}
  60% {opacity: 0;-webkit-transform: scale(1.2);}
  90% {opacity: 0.6;-webkit-transform: scale(0.6);}
  100% {opacity: 1;-webkit-transform: scale(0);}
}





.handTips span{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	line-height: 14px;
	color: #fff;
	font-size: 12px;
}

.share{
	background:#ececec;
	position: relative;
}
.share_name{
	position: relative;
	font-size: 1.2em;
	text-align: center;
	margin: 4% auto 0 auto;
	font-weight: bold;
	letter-spacing: .1em;
}
.address{
	position: relative;
	display: inline-block;
	width:70%;
	margin: 2% 0px 0px 15%;

}
.share_btn{
	width:40%;
	border: 1px solid #010101;
	font-size: 1.2em;
	padding: 6px 0px;
	font-weight: bold;
	letter-spacing: .1em;
	position: absolute;
	left: 50%;
	bottom: 1em;
	margin: 0 0 0 -20%;
	z-index: 10;
	background: #ececec;
	color: #040301;
}
/* address */
.intro{
	position: relative;
	display: inline-block;
	width: 80%;
	margin: 20% 10% 0% 10%;
}
.map_bg{
	width:100%;
	height:100%;
	background: url('/images/address/map.png') no-repeat;
	background-size: 100%;
	position:absolute;
	display: inline-block;
    top:30%;
    left:0%;
}

.loc_bj{
	position: absolute;
	width:15%;
	top:42%;
	right:6%;
	opacity: 0;
	z-index:2;

}
.loc_ps{
	position: absolute;
	width:15%;
	top:24%;
	left:1%;
	opacity: 0;
	z-index: 2;
}
.loc_lv{
	position: absolute;
	width:24%;
	top:46.5%;
	left:43%;
	opacity: 0;

}
.mask{
	width:100%;
	height:100%;
	background: url('/images/address/green.png') no-repeat;
	background-size: 100%;
	position:absolute;
	display: inline-block;
    top: 28%;
    left: -4%;
    animation: clound 1 2.5s linear;
    -webkit-animation: clound 1 2.5s linear;
    -moz-animation: clound 1 2.5s linear;
    opacity: 0.9;

}
@keyframes clound{
	0%{opacity: 0.1;transform: translate(-20px, 0);}
	50%{opacity: 0.3;transform: translate(-10px, 0);}
	75%{opacity: 0.6;transform: translate(-2px, 0);}  
	100%{opacity: 0.8;transform: translate(0, 0);}

}
@-webkit-keyframes clound{
	0%{opacity: 0.1;-webkit-transform: translate(-20px, 0);}
	50%{opacity: 0.3;-webkit-transform: translate(-10px, 0);}
	75%{opacity: 0.6;-webkit-transform: translate(-2px, 0);}  
	100%{opacity: 0.8;-webkit-transform: translate(0, 0);}
}
@-moz-keyframes clound{
	0%{opacity: 0.1;-moz-transform: translate(-20px, 0);}
	50%{opacity: 0.3;-moz-transform: translate(-10px, 0);}
	75%{opacity: 0.6;-moz-transform: translate(-2px, 0);}  
	100%{opacity: 0.8;-moz-transform: translate(0, 0);}

}
.ps_green{
	width:100%;
	height:100%;
	background: url('/images/address/green2.png') no-repeat;
	background-size: 100%;
	position:absolute;
	display: inline-block;
    top: 31%;
    left: -4%;
    z-index:100;
    animation: clound 1 2.5s linear;
    -webkit-animation: clound 1 2.5s linear;
    -moz-animation: clound 1 2.5s linear;
}
.bg_paris{
	width:100%;
	height:100%;
	background: url('/images/address/map2.png') no-repeat;
	background-size: 100%;
	position:absolute;
	display: inline-block;
    top:30%;
    left:0%;
    opacity: .8;
    z-index:99;
    

}


/* address1 */
.map_content{
	width:100%;
	height:220px;
	overflow: hidden;
	position: absolute;
	top: 49%;
}

.map_1{
	width:100%;
	height:220px;
	position:absolute;
	background: url('/images/address/map1.png') no-repeat;
	background-size: 100%;
	top:46%;
}
.map_3{
	width:100%;
	height:220px;
	position:absolute;
	background: url('/images/address/map1.png') no-repeat;
	background-size: 100%;
}
.map_4{
	width:100%;
	height:220px;
	position:absolute;
	background: url('/images/address/map5.png') no-repeat center;
	background-size: auto 100%;
	opacity: 0;

}

.add{
	animation: scale 500ms linear;
	-webkit-animation: scale 500ms linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	
}

.add2{
	background: url('/images/address/map3.png') no-repeat;
	background-size:100%;
	animation: scale2 500ms linear;
	-webkit-animation: scale2 500ms linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	

}
.add4{
	animation: scale2 600ms linear;
	-webkit-animation: scale2 600ms linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:600ms;
	-webkit-animation-delay:600ms;
}
.add3{
	animation: scale3 2.4s ease-in;
	-webkit-animation: scale3 2.4s ease-in;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes scale {
	0% { background-size: 100%;}
	25% { background-size: 130%; background-position:0.75% 9%;}
	50% { background-size: 160%; background-position:1.5% 18%;}
	75% { background-size: 190%; background-position:2.25% 27%;}
	100% { background-size: 220%; background-position:3% 36%;}
}
@-webkit-keyframes scale {
	0% { background-size: 100%; }
	25% { background-size: 130%; background-position:0.75% 9%;}
	50% { background-size: 160%; background-position:1.5% 18%;}
	75% { background-size: 190%; background-position:2.25% 27%;}
	100% { background-size: 220%; background-position:3% 36%;}
}
@keyframes scale2 {
	0% { background-size: 0%;background-position:50% 50%; }
	12.5% { background-size: 12.5%;background-position:50% 50%; }
	25% { background-size: 25%; background-position:50% 50%;}
	37.5% { background-size: 37.5%;background-position:50% 50%; }
	50% { background-size: 50%; background-position:50% 50%;}
	62.5% { background-size: 62.5%; background-position:50% 50%;}
	75% { background-size: 75%; background-position:50% 50%;}
	87.5% { background-size: 87.5%; background-position:50% 50%;}
	100% { background-size: 100%; background-position:50% 50%;}
}
@-webkit-keyframes scale2 {
	0% { background-size: 0%;background-position:50% 50%; }
	12.5% { background-size: 12.5%;background-position:50% 50%; }
	25% { background-size: 25%; background-position:50% 50%;}
	37.5% { background-size: 37.5%;background-position:50% 50%; }
	50% { background-size: 50%; background-position:50% 50%;}
	62.5% { background-size: 62.5%; background-position:50% 50%;}
	75% { background-size: 75%; background-position:50% 50%;}
	87.5% { background-size: 87.5%; background-position:50% 50%;}
	100% { background-size: 100%; background-position:50% 50%;}
}
@keyframes scale3 {
	0% { transform:scale(1); left: 0;}
	40% { transform:scale(1); left: 30%;}
	60% { transform:scale(2); left: 70%;}
	80% { transform:scale(3); left: 120%;}
	100% { transform:scale(4); left: 160%;}
}
@-webkit-keyframes scale3 {
	0% { -webkit-transform:scale(1); left:0;}
	40% { -webkit-transform:scale(1); left:30%;}
	60% { -webkit-transform:scale(2); left:70%;}
	80% { -webkit-transform:scale(3); left:120%;}
	100% { -webkit-transform:scale(4); left: 160%;}
}
.map_2{
	width:100%;
	height:220px;
	position:absolute;
	margin-top: 10%;
	background: url('/images/address/map.png') no-repeat;
	background-size: 100%;
    opacity: 0;

}
.dot{
	width:3%;
}
.dot_ps{
	position: absolute;
	z-index: 2;
	margin: 20% 0 0 3.2%;
}
.dot_bj{
	position: absolute;
	margin: 23% 0 0 38%;
}
.dot_ty{
	position: absolute;
	margin: 23% 0 0 46%;
}
.dot_ny{
	position: absolute;
	margin: 22.5% 0 0 92.5% ;
}
.title_ps{
	position: absolute;
	left: 7%;
	top: 34%;
	width:12%;
}

.title_ps_Ani{
	animation: turn-left 1000ms ease-in;
	-webkit-animation: turn-left 1000ms ease-in;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

@keyframes turn-left{
	0% {-webkit-transform: perspective(200px) rotateY(40deg);}
    50% {-webkit-transform: perspective(200px) rotateY(-45deg);}
    60% {-webkit-transform: perspective(200px) rotateY(15deg);}
    80% {-webkit-transform: perspective(200px) rotateY(-15deg);}
	90% {-webkit-transform: perspective(200px) rotateY(5deg);}
	100% {-webkit-transform: perspective(200px) rotateY(0deg);}
}
@-webkit-keyframes turn-left{
	0% {-webkit-transform: perspective(200px) rotateY(40deg);}
    50% {-webkit-transform: perspective(200px) rotateY(-45deg);}
    60% {-webkit-transform: perspective(200px) rotateY(15deg);}
    80% {-webkit-transform: perspective(200px) rotateY(-15deg);}
	90% {-webkit-transform: perspective(200px) rotateY(5deg);}
	100% {-webkit-transform: perspective(200px) rotateY(0deg);}

}  
.title_bj{
	position: absolute;
	left: 34%;
	top: 28%;
	width:12%;
}

.title_bj_ani{
	animation: turn-top 1000ms ease-in;
	-webkit-animation: turn-top 1000ms ease-in;
	-webkit-transform-origin: top center;
	transform-origin: top center;
	animation-delay:400ms;
	-webkit-animation-delay:400ms; 
}

@keyframes turn-top{
	0% {-webkit-transform: perspective(200px) rotateX(40deg);}
    50% {-webkit-transform: perspective(200px) rotateX(-45deg);}
    60% {-webkit-transform: perspective(200px) rotateX(15deg);}
    80% {-webkit-transform: perspective(200px) rotateX(-15deg);}
	90% {-webkit-transform: perspective(200px) rotateX(5deg);}
	100% {-webkit-transform: perspective(200px) rotateX(0deg);}
}
@-webkit-keyframes turn-top{
	0% {-webkit-transform: perspective(200px) rotateX(40deg);}
    50% {-webkit-transform: perspective(200px) rotateX(-45deg);}
    60% {-webkit-transform: perspective(200px) rotateX(15deg);}
    80% {-webkit-transform: perspective(200px) rotateX(-15deg);}
	90% {-webkit-transform: perspective(200px) rotateX(5deg);}
	100% {-webkit-transform: perspective(200px) rotateX(0deg);}

}  
.title_ty{
	position: absolute;
	left: 50%;
	top: 42%;
	width:12%;
}

.title_ty_ani{
	animation: turn-top 1000ms ease-in;
	-webkit-animation: turn-top 1000ms ease-in;
	-webkit-transform-origin: top center;
	transform-origin: top center;
	animation-delay:1000ms;
	-webkit-animation-delay:1000ms; 
}

.title_ny{
	position: absolute;
	top: 40%;
	right:7%;
	width:12%;	
}

.title_ny_ani{
	animation: turn-right 1000ms ease-in;
	-webkit-animation: turn-right 1000ms ease-in;
	-webkit-transform-origin: right center;
	transform-origin: right center;
	animation-delay:1400ms;
	-webkit-animation-delay:1400ms; 
}

@keyframes turn-right{
	0% {-webkit-transform: perspective(200px) rotateY(40deg);}
    50% {-webkit-transform: perspective(200px) rotateY(-45deg);}
    60% {-webkit-transform: perspective(200px) rotateY(15deg);}
    80% {-webkit-transform: perspective(200px) rotateY(-15deg);}
	90% {-webkit-transform: perspective(200px) rotateY(5deg);}
	100% {-webkit-transform: perspective(200px) rotateY(0deg);}
}
@-webkit-keyframes turn-right{
	0% {-webkit-transform: perspective(200px) rotateY(40deg);}
    50% {-webkit-transform: perspective(200px) rotateY(-45deg);}
    60% {-webkit-transform: perspective(200px) rotateY(15deg);}
    80% {-webkit-transform: perspective(200px) rotateY(-15deg);}
	90% {-webkit-transform: perspective(200px) rotateY(5deg);}
	100% {-webkit-transform: perspective(200px) rotateY(0deg);}

}
 			
.cloud_img{
    width:100%;
    position: absolute;
    left: 0;
    top:-4%;
    opacity: 0;
    -webkit-mask:url('/images/address/cloud7.png') no-repeat 0% center;
}


.cloud_animation{
	animation: cloud_float 1s step-start 1;
	-webkit-animation: cloud_float 1s step-start  1;
}
@keyframes cloud_float{
	0% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 19% 0%, from(#fff), to(rgba(0,0,0,0)));}
	25% {-webkit-mask-image: -webkit-gradient(
    linear, 4% 8%, 32% 0%, from(#fff), to(rgba(0,0,0,0)));}
	50% {-webkit-mask-image: -webkit-gradient(
    linear, 15% 20%, 40% 0%, from(#fff), to(rgba(0,0,0,0)));}
	75% {-webkit-mask-image: -webkit-gradient(
    linear, 27% 26%, 31% 0%, from(#fff), to(rgba(0,0,0,0)));}
	100% {-webkit-mask-image: -webkit-gradient(
    linear, 30% 34%, 24% 0%, from(#fff), to(rgba(0,0,0,0)));}

}
@-webkit-keyframes cloud_float{
	0% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 19% 0%, from(#fff), to(rgba(0,0,0,0)));}
	25% {-webkit-mask-image: -webkit-gradient(
    linear, 4% 8%, 32% 0%, from(#fff), to(rgba(0,0,0,0)));}
	50% {-webkit-mask-image: -webkit-gradient(
    linear, 15% 20%, 32% 0%, from(#fff), to(rgba(0,0,0,0)));}
	75% {-webkit-mask-image: -webkit-gradient(
    linear, 27% 26%, 31% 0%, from(#fff), to(rgba(0,0,0,0)));}
	100% {-webkit-mask-image: -webkit-gradient(
    linear, 30% 34%, 24% 0%, from(#fff), to(rgba(0,0,0,0)));}
	
}
.pulse{
    -webkit-animation-name: pulsed;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:1;
    /*-webkit-animation-direction:alternate;*/
    -webkit-mask-size: 150%;
}
@-webkit-keyframes pulsed {
    0% { -webkit-mask-size: 0%; }
    100% { -webkit-mask-size: 150%; }
}
.line_animation{
	animation: line_animation 2s linear;
	-webkit-animation: line_animation 2s linear;

}
@keyframes line_animation {
	0% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 10% 0%, from(#fff), to(rgba(0,0,0,0)));}
    25% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 30% 0%, from(#fff), to(rgba(0,0,0,0)));}
    50% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 50% 0%, from(#fff), to(rgba(0,0,0,0)));}
    75% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 70% 0%, from(#fff), to(rgba(0,0,0,0)));}
	100% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 100% 0%, from(#fff), to(rgba(0,0,0,0)));}
}
@-webkit-keyframes line_animation {
	0% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 10% 0%, from(#fff), to(rgba(0,0,0,0)));}
    25% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 30% 0%, from(#fff), to(rgba(0,0,0,0)));}
    50% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 50% 0%, from(#fff), to(rgba(0,0,0,0)));}
    75% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 70% 0%, from(#fff), to(rgba(0,0,0,0)));}
	100% {-webkit-mask-image: -webkit-gradient(
    linear, 0% 0%, 100% 0%, from(#fff), to(rgba(0,0,0,0)));}
}
.line_img{
	width: 76%;
	position: absolute;
	left: 8%;
	top: 35%;
	opacity: 0;
    
}
.arrow{
	width:3%;
	position: absolute;
	top: 36%;
	left: 12%;
	opacity: 0;
}
.arrow_animation{
	animation: arrow_animation 2.2s linear;
	-webkit-animation: arrow_animation 2.2s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes arrow_animation{
	0% {top:36%; left:12%;transform: rotateX(85deg);}
    25% {top:34%; left:20%;transform: rotateX(40deg);}
    37.5% {top:32%; left:30%;transform: rotateX(20deg);}
    50% {top:33%; left:39%;transform: rotateX(85deg);}
    62.5% {top:34%;left:46%;transform: rotateX(120deg);}
    75% {top:36%; left:55%;transform: rotate(20deg);}
	100% {top:52%; left:82%;transform: rotate(40deg);}
}
@-webkit-keyframes arrow_animation{
	0% {top:36%; left:12%;-webkit-transform: rotateX(85deg);}
    25% {top:34%; left:20%;-webkit-transform: rotateX(40deg);}
    37.5% {top:32%; left:30%;-webkit-transform: rotateX(20deg);}
    50% {top:33%; left:39%;-webkit-transform: rotateX(85deg);}
    62.5% {top:34%;left:46%;-webkit-transform: rotateX(120deg);}
    75% {top:36%; left:55%;-webkit-transform: rotate(20deg);}
	100% {top:52%; left:82%;-webkit-transform: rotate(40deg);}
}

.cloud_2_img{
	width:86%;
	position: absolute;
	top: 0;
    left: 5%;
    opacity: 0;
    -webkit-mask:url('/images/address/mask_1.png') no-repeat  center; 
    -webkit-mask-size: 0%;
}
.cloud_2_animation{
	-webkit-animation-name: cloud_center;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes cloud_center{
	0% { -webkit-mask-size: 0%; }
    100% { -webkit-mask-size: 100%; }
}
@-webkit-keyframes cloud_center{
	0% { -webkit-mask-size: 0%; }
    100% { -webkit-mask-size: 100%; }
}
.dot_lt{
	width:3%;
	position: absolute;
	top:46%;
    left:52%;
	opacity: 0;
	z-index:10;
}
.dot_animation{
	animation: scale_dot 1s linear infinite;
	-webkit-animation: scale_dot 1s linear infinite;
	animation-delay:4s;
	-webkit-animation-delay:4s;

}
@keyframes scale_dot{
	0% {transform: scale(1,1);}
	20% {transform: scale(1.4,1.4);}
	40% {transform: scale(1.8,1.8);}
	60% {transform: scale(1.6,1.6);}
	80% {transform: scale(1.4,1.4);}
	100% {transform: scale(1,1);}
}
@-webkit-keyframes scale_dot{
	0% {-webkit-transform: scale(1,1);}
	20% {-webkit-transform: scale(1.4,1.4);}
	40% {-webkit-transform: scale(1.8,1.8);}
	60% {-webkit-transform: scale(1.6,1.6);}
	80% {-webkit-transform: scale(1.4,1.4);}
	100% {-webkit-transform: scale(1,1);}
}
.lv_home{
	width:36%;
	position: absolute;
	top:25%;
	left:35%;
	display: none;
	z-index:10;
	
	
}
.lv_title{
	width:16%;
	position: absolute;
	top:36%;
	left:46%;
	display: none;
	z-index: 10;
	

}

.show{
	animation: show 400ms ease-in-out 1;
	-webkit-animation: show 400ms ease-in-out 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	
}
@keyframes show {
	0%{top:30%;}
	100%{top:25%;}

}
@-webkit-keyframes show {
	0%{top:30%;}
	100%{top:25%;}
}
.show2{
	animation: show2 200ms linear;
	-webkit-animation: show2 200ms linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	
}
@keyframes show2 {
	0%{top:42%;transform:rotate(1deg);}
	100%{top:36%;transform:rotate(1deg);}

}
@-webkit-keyframes show2 {
	0%{top:42%;-webkit-transform:rotate(1deg);}
	100%{top:36%;-webkit-transform:rotate(1deg);}
}
#start_ps{
	width:8%;
	position: absolute;
	top: 31%;
	left: .5%;
	opacity: 0;	
}

.start_ps_ani{
	animation: start_ps 400ms ease-in-out 1;
	-webkit-animation: start_ps 400ms ease-in-out 1;
	animation-delay:1600ms;
	-webkit-animation-delay:1600ms;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards; 
}

@keyframes start_ps{
	0% {opacity: 0;}
	100% {opacity: 1;}

}
@-webkit-keyframes start_ps{
	0% {opacity: 0;}
	100% {opacity: 1;}

}
.cloud_forest{
	width:86%;
	position:absolute;
	top:0;
	left:6%;
	opacity: 0;
	-webkit-mask:url('/images/address/mask_4.png') no-repeat center;
	-webkit-mask-size: 0%;
}


.park_all{
	width:24%;
	position: absolute;
	left:22%;
	top:12%;
	line-height: 0;
}

.park_all a{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 12;
}

.dot_first{
	width: 6%;
	position:relative;
	opacity: 0;
	z-index: 10;
	margin: -2px 0 6px 0;
	display: inline-block;
}
.building{
	width:100%;
	opacity: 0;
	position:relative;
	z-index: 10;
	margin: 1% 0 0 0;
	
}
.park{
	width:100%;
	opacity: 0;
	position:relative;
	z-index:10;
	margin:0 0 0 0;
	
}

.park_name{
	width:100%;
	opacity: 0;
	position: relative;
	z-index: 10;
	margin: -2px 0 0 0;
}
.cloud_sky{
	width: 100%;
	height:220px;
	position:absolute;


}
.cloud_left{
	width: 100%;
	position: absolute;
	left:0%;

}
.cloud_right{
	width: 100%;
	position: absolute;
	right: 0%;
}
.cloud_left_animation{
	animation: cloud_scale_left 3s linear 1;
	-webkit-animation: cloud_scale_left 3s linear 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards; 
	animation-delay:600ms;
	－webkit-animation-delay:600ms;
}
@keyframes cloud_scale_left{
	0%{transform: translate(0%) scale(2.5); opacity: 0.8}
	20%{transform: translate(20%) scale(2.5); opacity: 0.7;}
	40%{transform: translate(40%) scale(2); opacity: 0.8;}
	60%{transform: translate(60%) scale(2); opacity: 0.9;}
	80%{transform: translate(80%) scale(1); opacity: 0.9;}
	100%{transform: translate(100%) scale(1); opacity: 1;}
}
@-webkit-keyframes cloud_scale_left{
	0%{-webkit-transform: translate(0%) scale(2.5); opacity: 0.8;}
	20%{-webkit-transform: translate(20%) scale(2.5); opacity: 0.7;}
	40%{-webkit-transform: translate(40%) scale(2); opacity: 0.8;}
	60%{-webkit-transform: translate(60%) scale(2); opacity: 0.9;}
	80%{-webkit-transform: translate(80%) scale(1); opacity: 0.9;}
	100%{-webkit-transform: translate(100%) scale(1); opacity: 1;}
}
.cloud_right_animation{
	animation: cloud_scale_right 3s linear 1;
	-webkit-animation: cloud_scale_right 3s linear 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards; 
	animation-delay:600ms;
	－webkit-animation-delay:600ms;
}
@keyframes cloud_scale_right{
	0%{transform: translate(0%) scale(2.5); opacity: 0.8;}
	20%{transform: translate(-20%) scale(2.5); opacity: 0.7;}
	40%{transform: translate(-40%) scale(2); opacity: 0.8;}
	60%{transform: translate(-60%) scale(2); opacity: 0.9;}
	80%{transform: translate(-80%) scale(1); opacity: 0.9;}
	100%{transform: translate(-100%) scale(1); opacity: 1}
}
@-webkit-keyframes cloud_scale_right{
	0%{-webkit-transform: translate(0%) scale(2.5);opacity: 0.8;}
	20%{-webkit-transform: translate(-20%) scale(2.5);opacity: 0.7;}
	40%{-webkit-transform: translate(-40%) scale(2);opacity: 0.8;}
	60%{-webkit-transform: translate(-60%) scale(2);opacity: 0.9;}
	80%{-webkit-transform: translate(-80%) scale(1);opacity: 0.9;}
	100%{-webkit-transform: translate(-100%) scale(1);opacity: 1;}
}


.map2Tips{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0em;
	line-height: 18px;
	font-size: 12px;
	z-index: 9;
	opacity: 0;
}

.maplink{
	width: 34%;
	height: 30%;
	background: none;
	opacity: 0.6;
	position: absolute;
	left: 37%;
	top: 24%;
	z-index: 100;
	display: none;
}









.backBtn{
	width: 20%;
	position: fixed;
	left: 6%;
	top: 5em;
	font-size: 14px;
	color: #363533;
	z-index: 100;
	display: none;
}

.backBtn img{
	width: 6%;
	vertical-align: middle;
	display: inline-block;
}






/* 全景图 */
#wrapper {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: #ccc;
	overflow: hidden;
	-ms-touch-action: none;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 780px;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


.scrollsTips{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 1.6em;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
	z-index: 999;
	display: none;
}

.scrollsTips.st-1{
	bottom: -10em;
}

.focuslv-home{
	width: 16px;
	height: 23px;
	position: absolute;
	left: 25%;
	margin: 0 0 0 -8px;
	bottom: 35%;
}
.focus-dot{
	width: 100%;
	height: 100%;
	background: url("/images/address/dot.png") no-repeat;
	background-size: 100% auto;
	opacity: 0;
}

.focuslv-cn{
	width: 120px;
	position: absolute;
	left: 50%;
	top:40px;
	margin: 0 0 0 -60px; 
	line-height: 0;
	opacity: 0;
}

.focuslv-en{
	width: 160px;
	position: absolute;
	left: 50%;
	top:30px;
	margin: 0 0 0 -80px; 
	line-height: 0;
	opacity: 0;
}


.panoramaLink{
	width: 18%;
	height: 27%;
	background: none;
	position: absolute;
	left: 16%;
	top: 45%;
	z-index: 99;
	display: none;
}


.focus-dot-animate{
	animation: scale_dot 0.3s ease;
	-webkit-animation: scale_dot 0.3s ease;
	transform-origin:50% 50%;
	-webkit-transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes scale_dot{
	0% {transform: scale(1,1); opacity: 0;}
	50% {transform: scale(2,2); opacity: 1;}
	100% {transform: scale(1,1); opacity: 1;}
}
@-webkit-keyframes scale_dot{
	0% {-webkit-transform: scale(1,1); opacity: 0;}
	50% {-webkit-transform: scale(2,2); opacity: 1;}
	100% {-webkit-transform: scale(1,1); opacity: 1;}
}

.c2_more{
	position: relative;
	width: 100%;
	margin: 3em 0 0 0;
	display: inline-block; 
}

.morelink{
	width: 100%;
	height: 12%;
	background: none;
	position: absolute;
	left: 0;
	bottom:-0.2em;
	opacity: 0.6;
}





/* 6plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
   .point{
		top: 72%;
	}

	.coordinate_link_chpater4{
		right: 8em;
  		top: 8.5em;
	}
}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {
    .point{
		top: 56%;
	}

	.coordinate_link_chpater4{
		right: 7.2em;
  		top: 8.2em;
	}
}



/* 4s */

@media handheld and (min-height:400px),screen and (max-height:420px) {
	.menu li a{
		padding: 0.2em 0 0.4em 0;
	}

	.glassInstall{
		background-position: center 90%; 
	}

	.glassInstall_fin{
		background: url("/images/chapter3/building_fin.jpg") center 72% no-repeat;
		background-size: 100% auto;
	}

	.glassInstall h2{
		margin:3em 0 0 0;
	}

	.arrUp {
	  width: 6%;
	  margin: 0 0 0 -3%;
	  bottom: 1em;
	}

	.glassBlock {
	  margin: 0.6em 0 0 0;
	}

	.glass_footer{
		bottom: 0.5em;
	}

	.glassInfo p{
		padding: 0.9em 0;
	}

}